openapi: 3.2.0
info:
  title: Retrieval Content Service API
  version: '1.0'
  contact:
    name: Pryon Product Support
    url: https://pryon.zendesk.com
    email: support@pryon.zendesk.com
  description: ''
  x-logo:
    altText: Pryon APIs
servers:
- url: https://api.pryon.net
  description: Pryon Cloud
tags:
- name: Content Service
paths:
  /api/knowledge/v1alpha1/content-groups:
    get:
      operationId: ContentService_ListContentGroups
      parameters:
      - description: Unique identifier of the knowledge domain that supplied the exchange response.
        in: query
        name: knowledge_domain_id
        schema:
          type: string
      - description: Unique identifier for the content within the matching content groups.
        in: query
        name: content_id
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1ListContentGroupsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: List Content Groups
      tags:
      - Content Service
      description: Filter content groups by knowledge domain and content.
    post:
      operationId: ContentService_CreateContentGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filename_v1alpha1CreateContentGroupRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1GetContentGroupResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Create Content Group
      tags:
      - Content Service
      x-codegen-request-body-name: body
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
  /api/knowledge/v1alpha1/content-groups/{content_group_id}:
    delete:
      operationId: ContentService_DeleteContentGroup
      parameters:
      - description: Unique identifier for the content group.
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Delete Content Group
      tags:
      - Content Service
      description: Delete a content group without altering the content resources.
    get:
      operationId: ContentService_GetContentGroup
      parameters:
      - description: Unique identifier for the content group.
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1GetContentGroupResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Get Content Group
      tags:
      - Content Service
      description: Retrieve a content group using the ID.
  /api/knowledge/v1alpha1/content-groups/{content_group_id}/contents:
    delete:
      operationId: ContentService_DeleteContentGroupContents
      parameters:
      - description: Unique identifier for the content group.
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Delete Content Group Contents
      tags:
      - Content Service
      description: Delete all child content associations with the parent content group.
    get:
      operationId: ContentService_ListContentGroupContents
      parameters:
      - description: Unique identifier for the content group.
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - description: Maximum page size is 100; default is 100.
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: For multiple pages; must be specified in each request for two pages per sheet.
        in: query
        name: page_token
        schema:
          type: string
      - description: If set to True will only return item IDs.
        in: query
        name: return_only_id
        schema:
          type: boolean
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1ListContentGroupContentsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: List Content Group Contents
      tags:
      - Content Service
      description: List content group sources by ID.
  /api/knowledge/v1alpha1/content-groups/{content_group_id}/contents/{content_id}:
    delete:
      operationId: ContentService_DeleteContentGroupContent
      parameters:
      - description: Unique identifier for the content group.
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - description: Unique identifier for the content within the matching content groups.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Delete Content Group Content
      tags:
      - Content Service
      description: Delete content associations within the parent content group.
    get:
      operationId: ContentService_GetContentGroupContent
      parameters:
      - description: Unique identifier for the content group.
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - description: Unique identifier for the content within the matching content groups.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1GetContentGroupContentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Get Content Group Content
      tags:
      - Content Service
      description: Get content group sources by ID.
  /api/knowledge/v1alpha1/content-groups/{content_group_id}:cascade:
    delete:
      operationId: ContentService_CascadeDeleteContentGroup
      parameters:
      - description: Unique identifier for the content group.
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Cascade Delete Content Group
      tags:
      - Content Service
      description: Delete content group source associations and remove from knowledge domain.
  /api/knowledge/v1alpha1/content-groups/{data.content_group_id}:
    patch:
      operationId: ContentService_UpdateContentGroup
      parameters:
      - description: Unique identifier for the content group.
        in: path
        name: data.content_group_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1GetContentGroupResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Update Content Group
      tags:
      - Content Service
      description: Update the display name for a content group.
  /api/knowledge/v1alpha1/content-groups/{data.content_group_id}/contents/{data.content_id}:
    post:
      operationId: ContentService_CreateContentGroupContent
      parameters:
      - description: Unique identifier for the content group.
        in: path
        name: data.content_group_id
        required: true
        schema:
          type: string
      - description: Unique identifier for the content within the matching content groups.
        in: path
        name: data.content_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filename_v1alpha1ContentGroupContentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1GetContentGroupContentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Create Content Group Content
      tags:
      - Content Service
      x-codegen-request-body-name: body
      description: Create content group sources.
  /api/knowledge/v1alpha1/contents:
    get:
      operationId: ContentService_ListContents
      parameters:
      - description: Unique identifier of the knowledge domain that supplied the exchange response.
        in: query
        name: knowledge_domain_id
        schema:
          type: string
      - description: Unique identifier for the content within the matching content groups.
        in: query
        name: content_group_id
        schema:
          type: string
      - description: Precise location of the source material.
        in: query
        name: source_location
        schema:
          type: string
      - description: Maximum page size is 100; default is 100.
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: For multiple pages; must be specified in each request for two pages per sheet.
        in: query
        name: page_token
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1ListContentsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: List Contents
      tags:
      - Content Service
      description: List contents associated with a knowledge domain.
    post:
      operationId: ContentService_CreateContent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filename_v1alpha1CreateContentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1GetContentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Create Content
      tags:
      - Content Service
      x-codegen-request-body-name: body
      description: Create methods for contents.
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
  /api/knowledge/v1alpha1/contents/{content_id}:
    delete:
      operationId: ContentService_DeleteContent
      parameters:
      - description: Unique identifier for the content to be deleted.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Delete Content
      tags:
      - Content Service
      description: Delete the content and all child resources.
    get:
      operationId: ContentService_GetContent
      parameters:
      - description: Unique identifier for the content to be returned.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1GetContentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      tags:
      - Content Service
      summary: Get Content
      description: ''
  /api/knowledge/v1alpha1/contents/{content_id}/image:
    get:
      operationId: ContentService_GetContentImage
      parameters:
      - description: Unique identifier for the content within the matching content groups.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - description: Page number in the content.
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: True does not compress the image data; default is false (compressed).
        in: query
        name: uncompressed
        schema:
          type: boolean
      - description: True returns a debug image.
        in: query
        name: debug
        schema:
          type: boolean
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Get Content Image
      tags:
      - Content Service
      description: Return an image representation of the content.
  /api/knowledge/v1alpha1/contents/{content_id}/processed-extracts:
    get:
      operationId: ContentService_ListProcessedContentExtracts
      parameters:
      - description: Unique identifier for the content within the matching content groups.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - description: Unique identifier of the knowledge domain that contains the exchange response.
        in: query
        name: knowledge_domain_id
        schema:
          type: string
      - description: Maximum page size is 100; default is 100.
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: For multiple pages; must be specified in each request for two pages per sheet.
        in: query
        name: page_token
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1ListProcessedContentExtractsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: List Processed Content Extracts
      tags:
      - Content Service
      description: List initial processed extracts by content ID.
  /api/knowledge/v1alpha1/contents/{content_id}/retrieval-extracts:
    get:
      operationId: ContentService_ListRetrievalContentExtracts
      parameters:
      - description: Unique identifier for the content within the matching content groups.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - description: Unique identifier of the knowledge domain that supplied the exchange response.
        in: query
        name: knowledge_domain_id
        schema:
          type: string
      - description: Maximum page size is 100; default is 100.
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: For multiple pages; must be specified in each request for two pages per sheet.
        in: query
        name: page_token
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1ListRetrievalContentExtractsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: List Retrieval Content Extracts
      tags:
      - Content Service
      description: List of retrieval extracts by content ID.
  /api/knowledge/v1alpha1/contents/{content_id}/subjects:
    get:
      operationId: ContentService_ListContentSubjects
      parameters:
      - description: Unique identifier for the content within the matching content groups.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - description: Maximum page size is 100; default is 100.
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: IFor multiple pages; must be specified in each request for two pages per sheet.
        in: query
        name: page_token
        schema:
          type: string
      - description: Sort order for multi page requests; valid options are rank, rank desc, create_time, create_time desc.
        in: query
        name: order_by
        schema:
          type: string
      - description: Unique identifier for the grouping of specific topics.
        in: query
        name: subject_category_id
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1ListSubjectsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: List Content Subjects
      tags:
      - Content Service
      description: List subjects associated with a content item.
  /api/knowledge/v1alpha1/contents/{content_id}/summary:
    get:
      operationId: ContentService_GetSummary
      parameters:
      - description: Unique identifier for the content within the matching content groups.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1GetSummaryResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Get Summary
      tags:
      - Content Service
      description: Get summary information by content ID.
  /api/knowledge/v1alpha1/contents/{content_id}:cascade:
    delete:
      operationId: ContentService_CascadeDeleteContent
      parameters:
      - description: Unique identifier for the content to be deleted.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Cascade Delete Content
      tags:
      - Content Service
      description: Delete the content and all child resources, and remove from all content groups.
  /api/knowledge/v1alpha1/domains/{knowledge_domain_id}/contents/{content_id}/metadata:
    get:
      operationId: ContentService_GetContentMetadata
      parameters:
      - description: Unique identifier of the knowledge domain containing the requested metadata
        in: path
        name: knowledge_domain_id
        required: true
        schema:
          type: string
      - description: Unique identifier for the content within the matching content groups.
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_v1alpha1GetContentMetadataResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filename_googlerpcStatus'
          description: An unexpected error response.
      summary: Get Content Metadata
      tags:
      - Content Service
      description: List metadata by content ID.
  /api/knowledge/v1/content-groups:
    get:
      operationId: ContentService_ListContentGroups
      parameters:
      - description: 'Optional: ID for Knowledge Domain under which to search for ContentGroups.'
        in: query
        name: knowledge_domain_id
        schema:
          type: string
      - description: 'Optional: ID for Content which is contained by matching Content Groups.'
        in: query
        name: content_id
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentListContentGroupsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: ListContentGroups
      tags:
      - Content Service
      description: Get a list of all the Content Groups. The filters supported are knowledge_domain_id and content_id
    post:
      operationId: ContentService_CreateContentGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contentCreateContentGroupRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentGetContentGroupResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: CreateContentGroup
      tags:
      - Content Service
      x-codegen-request-body-name: body
      description: CRD methods for a ContentGroup
      parameters:
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
  /api/knowledge/v1/content-groups/{content_group_id}:
    delete:
      operationId: ContentService_DeleteContentGroup
      parameters:
      - description: ID of ContentGroup to delete
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: DeleteContentGroup
      tags:
      - Content Service
      description: Delete a Content Group and all its associations with Contents. This will not alter the Content resources. This request will be rejected if the Content Group is a member of any Knowledge Domain.
    get:
      operationId: ContentService_GetContentGroup
      parameters:
      - description: ID of ContentGroup to return
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentGetContentGroupResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: GetContentGroup
      tags:
      - Content Service
      description: Get a Content Group by id
  /api/knowledge/v1/content-groups/{content_group_id}/contents:
    delete:
      operationId: ContentService_DeleteContentGroupContents
      parameters:
      - description: ID of ContentGroup to return
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: DeleteContentGroupContents
      tags:
      - Content Service
      description: Delete all child Content associations with the parent Content Group. The Content resources are not altered.
    get:
      operationId: ContentService_ListContentGroupContents
      parameters:
      - description: 'Required: id of a valid Content Group from /api/knowledge/v1/content-groups'
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - description: 'The default page size is 500, which is also the maximum page size. The REST query parameter is "page_size". If page size is the default, this param can be omitted; otherwise, it must be specified on every page request.

          see https://cloud.google.com/apis/design/design_patterns#list_pagination.'
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: 'If there are multiple pages, any pages after the first must specify this parameter using the value of next_page_token provided in the previous page''s response. The REST query parameter is "page_token".

          see https://cloud.google.com/apis/design/design_patterns#list_pagination.'
        in: query
        name: page_token
        schema:
          type: string
      - description: 'Optional: if caller only needs the item ID''s then set this to true.'
        in: query
        name: return_only_id
        schema:
          type: boolean
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentListContentGroupContentsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: ListContentGroupContents
      tags:
      - Content Service
      description: List Content Group Contents, by content_group_id
  /api/knowledge/v1/content-groups/{content_group_id}/contents/{content_id}:
    delete:
      operationId: ContentService_DeleteContentGroupContent
      parameters:
      - description: 'Required: ID of the ContentGroup'
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - description: 'Required: ID of the Content'
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: DeleteContentGroupContent
      tags:
      - Content Service
      description: Delete Content association with the parent Content Group. The Content resource is not altered.
    get:
      operationId: ContentService_GetContentGroupContent
      parameters:
      - description: 'Required: ID of the ContentGroup'
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - description: 'Required: ID of the Content'
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentGetContentGroupContentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: GetContentGroupContent
      tags:
      - Content Service
      description: Get Content Group Content, by content_id
  /api/knowledge/v1/content-groups/{content_group_id}:cascade:
    delete:
      operationId: ContentService_CascadeDeleteContentGroup
      parameters:
      - description: ID of ContentGroup to delete
        in: path
        name: content_group_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: CascadeDeleteContentGroup
      tags:
      - Content Service
      description: Delete Content Group and all its associations with Contents. This will not alter the Content resources. This request will remove the Content Group from any Knowledge Domains it is member of.
  /api/knowledge/v1/content-groups/{data.content_group_id}:
    patch:
      operationId: ContentService_UpdateContentGroup
      parameters:
      - description: 'Required: ID of this entity'
        in: path
        name: data.content_group_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contentUpdateContentGroupRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentGetContentGroupResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: UpdateContentGroup
      tags:
      - Content Service
      x-codegen-request-body-name: body
      description: Update a Content Group. This can only currently be used to update the display_name field.
  /api/knowledge/v1/content-groups/{data.content_group_id}/contents/{data.content_id}:
    post:
      operationId: ContentService_CreateContentGroupContent
      parameters:
      - description: 'Required: ID of the ContentGroup'
        in: path
        name: data.content_group_id
        required: true
        schema:
          type: string
      - description: 'Required: ID of the Content'
        in: path
        name: data.content_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contentContentGroupContentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentGetContentGroupContentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: CreateContentGroupContent
      tags:
      - Content Service
      x-codegen-request-body-name: body
      description: CRD methods for ContentGroupContent, a join of a ContentGroup with Content
  /api/knowledge/v1/contents:
    get:
      operationId: ContentService_ListContents
      parameters:
      - description: 'Optional: ID for KnowledgeDomain to filter search. The REST query parameter is "knowledge_domain_id".'
        in: query
        name: knowledge_domain_id
        schema:
          type: string
      - description: 'Optional: ID for ContentGroup to filter search. The REST query parameter is "content_group_id".'
        in: query
        name: content_group_id
        schema:
          type: string
      - description: 'Optional: SourceLocation string to filter search. The REST query parameter is "source_location".'
        in: query
        name: source_location
        schema:
          type: string
      - description: 'The default page size is 500, which is also the maximum page size. The REST query parameter is "page_size". If page size is default, this param can be omitted; otherwise it must be specified on every page request.

          see https://cloud.google.com/apis/design/design_patterns#list_pagination.'
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: 'If there are multiple pages, pages 2-N must specify this parameter using the value of next_page_token provided in the previous page''s response. The REST query parameter is "page_token".

          see https://cloud.google.com/apis/design/design_patterns#list_pagination.'
        in: query
        name: page_token
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentListContentsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: ListContents
      tags:
      - Content Service
      description: Get the list of Contents associated with a Knowledge Domain
    post:
      operationId: ContentService_CreateContent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contentCreateContentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentGetContentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: CreateContent
      tags:
      - Content Service
      x-codegen-request-body-name: body
      description: CRD methods for Contents
      parameters:
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
  /api/knowledge/v1/contents/{content_id}:
    delete:
      operationId: ContentService_DeleteContent
      parameters:
      - description: Required ID of Content to delete
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: DeleteContent
      tags:
      - Content Service
      description: Delete the Content and all its constituent child resources. This request will be rejected if Content is a member of any Content Groups.
    get:
      operationId: ContentService_GetContent
      parameters:
      - description: 'Required: ID of Content to return'
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentGetContentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      tags:
      - Content Service
      summary: GetContent
      description: ''
  /api/knowledge/v1/contents/{content_id}/image:
    get:
      operationId: ContentService_GetContentImage
      parameters:
      - description: 'Required: ID of Content (e.g. application/vnd.pryon.content.id attachment from Exchange API)'
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - description: 'Required: The page number within the content_id (e.g. application/vnd.pryon.start_page attachment from Exchange API).'
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: 'Optional: A value of true indicates the image data should not be compressed (Default is compressed).'
        in: query
        name: uncompressed
        schema:
          type: boolean
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: GetContentImage
      tags:
      - Content Service
      description: 'This is an EXPERIMENTAL REST API to get an image representation of the content

        The HTTP GET returns bytes data of image/jpeg Content-Type.

        Query parameters:

        page - Required. A page number within the content_id (e.g. application/vnd.pryon.start_page attachment from Exchange API)

        uncompressed - Optional. A value of 1 indicates the image data should not be compressed. Default value is 0 (compressed). If compressed image data is not found, the API will return uncompressed image data.'
  /api/knowledge/v1/contents/{content_id}/subjects:
    get:
      operationId: ContentService_ListContentSubjects
      parameters:
      - description: Content that subject must be found in
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - description: 'The default page size is 100, which is also the maximum page size. The REST query parameter is "page_size". If page size is default, this param can be omitted; otherwise it must be specified on every page request.

          see https://cloud.google.com/apis/design/design_patterns#list_pagination.'
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: 'If there are multiple pages, any pages after the first must specify this parameter using the value of next_page_token provided in the previous page''s response. The REST query parameter is "page_token".

          see https://cloud.google.com/apis/design/design_patterns#list_pagination.'
        in: query
        name: page_token
        schema:
          type: string
      - description: 'If there are multiple pages, a sort order can be used and is applicable to the pages but not to the items in a page. If this parameter is provided on a multi-page request, it must be provided on all subsequent page requests. Supported options are: "reference_count desc" (default) and "reference_count asc".

          see https://cloud.google.com/apis/design/design_patterns#sorting_order.'
        in: query
        name: order_by
        schema:
          type: string
      - description: If specified, the list will be filtered to subjects of the specified category.
        in: query
        name: subject_category_id
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subjectsListSubjectsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: ListContentSubjects
      tags:
      - Content Service
      description: List subjects associated with a content item
  /api/knowledge/v1/contents/{content_id}/summary:
    get:
      operationId: ContentService_GetSummary
      parameters:
      - description: 'Required: ID of the content whose summary should be returned'
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentGetSummaryResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: GetSummary
      tags:
      - Content Service
      description: Get summary associated with a Content ID
  /api/knowledge/v1/contents/{content_id}:cascade:
    delete:
      operationId: ContentService_CascadeDeleteContent
      parameters:
      - description: Required ID of Content to delete
        in: path
        name: content_id
        required: true
        schema:
          type: string
      - name: Authentication
        in: header
        required: true
        schema:
          type: string
        example: 'Authorization: Bearer {base64-encoded-token}'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: CascadeDeleteContent
      tags:
      - Content Service
      description: Delete the Content and all its constituent child resources. This will also remove the Content from all Content Groups it is a member of - this has the effect of removing it from the relevant Knowledge Domains as well.
components:
  schemas:
    filename_PageTextBox:
      properties:
        bbox:
          title: 'Bounding box coordinates of the TextBox

            A string of four floating point numbers representing the top-left and bottom-right corners of the box separated by commas.

            The coordinates are in the format: x1,y1,x2,y2.'
          type: string
        text:
          title: Text within the bounding box
          type: string
        textlines:
          items:
            $ref: '#/components/schemas/filename_TextBoxTextLine'
          title: List of text lines within the TextBox
          type: array
        textline_start_index:
          title: Start index for the text line
          type: string
        vision_class:
          title: Vision class of the TextBox
          type: string
        timestamps:
          items:
            $ref: '#/components/schemas/filename_PageTextBoxTimestamp'
          title: 'List of timestamps

            Only available if the content is a video transcript'
          type: array
      title: TextBox level information
      type: object
    filename_v1alpha1CreateContentGroupRequest:
      properties:
        data:
          $ref: '#/components/schemas/filename_v1alpha1ContentGroup'
      type: object
    filename_v1alpha1ContentGroupContentRequest:
      properties:
        data:
          $ref: '#/components/schemas/filename_v1alpha1ContentGroupContent'
      type: object
    filename_v1alpha1ListSubjectsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1CollectionMetadata'
        items:
          description: Subjects matching request criteria.
          items:
            $ref: '#/components/schemas/filename_v1alpha1GetSubjectResponse'
          type: array
        next_page_token:
          title: For multiple pages; must be specified in each request for two pages per sheet.
          type: string
        page_size:
          description: Same as page size in request.
          format: int32
          type: integer
        order_by:
          description: Same as order by in request.
          type: string
      type: object
    filename_v1alpha1SummaryItem:
      properties:
        text:
          type: string
        html:
          type: string
      type: object
    filename_v1alpha1ListContentItem:
      properties:
        data:
          $ref: '#/components/schemas/filename_v1alpha1Content'
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1ResourceMetadata'
      type: object
    filename_ContentExtractPage:
      properties:
        text_boxes:
          items:
            $ref: '#/components/schemas/filename_PageTextBox'
          title: List of TextBoxes on the page
          type: array
        page_number:
          title: Page number
          type: string
        page_bbox:
          title: Bounding box for the page
          type: string
        anchor_char_offsets:
          items:
            $ref: '#/components/schemas/filename_PageAnchorCharOffset'
          title: List of anchor character offsets
          type: array
      title: Page level information
      type: object
    filename_googlerpcStatus:
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/filename_protobufAny'
          type: array
      type: object
    filename_v1alpha1CreateContentRequest:
      properties:
        data:
          $ref: '#/components/schemas/filename_v1alpha1Content'
      type: object
    filename_v1alpha1DataSourceMetadata:
      properties:
        display_field_name:
          description: The data source metadata category, display_field_name.
          type: string
        value:
          description: The data source metadata value.
          properties: {}
          type: object
        data_type:
          $ref: '#/components/schemas/filename_v1alpha1DataType'
      type: object
    filename_v1alpha1ListRetrievalContentExtractsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1CollectionMetadata'
        items:
          items:
            $ref: '#/components/schemas/filename_v1alpha1ListRetrievalContentExtractsItem'
          title: Array of retrieval extracts matching the request.
          type: array
        next_page_token:
          title: For multiple pages; must be specified in each request for two pages per sheet.
          type: string
        page_size:
          description: Sme as page size in request.
          format: int32
          type: integer
      type: object
    filename_v1alpha1GetContentGroupResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1ResourceMetadata'
        data:
          $ref: '#/components/schemas/filename_v1alpha1ContentGroup'
      type: object
    filename_v1alpha1DataType:
      default: DATATYPE_UNSPECIFIED
      description: " - DATATYPE_UNSPECIFIED: Unspecified - indicates that data type is not set. This is not a valid option when creating a metadata field.\n - STRING: Free form text characters.\n - BOOLEAN: A boolean value (true or false).\n - INTEGER: Positive and negative whole numbers, but not decimals.\n - DECIMAL: Any number with decimal places.\n - DATETIME: Datetime string.\n - DATETIME_EPOCH: Datetime in epoch time format."
      type: string
    filename_PageAnchorCharOffset:
      description: 'The location of a hyperlink''s anchor text within the display_text.

        Only avaliable if the content is a HTML.'
      properties:
        end:
          format: int64
          title: End offset
          type: integer
        start:
          format: int64
          title: Start offset
          type: integer
        text:
          title: Text at the offset
          type: string
        uri:
          title: URI at the offset
          type: string
      type: object
    filename_v1alpha1GetSummaryResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1ResourceMetadata'
        data:
          $ref: '#/components/schemas/filename_v1alpha1SummaryItem'
      type: object
    filename_v1alpha1ListContentsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1CollectionMetadata'
        items:
          items:
            $ref: '#/components/schemas/filename_v1alpha1ListContentItem'
          title: Array of Contents that match the request
          type: array
        next_page_token:
          title: For multiple pages; must be specified in each request for two pages per sheet.
          type: string
        page_size:
          description: Same as page size in request.
          format: int32
          type: integer
      type: object
    filename_v1alpha1ListContentGroupsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1CollectionMetadata'
        items:
          additionalProperties:
            $ref: '#/components/schemas/filename_v1alpha1ListContentGroupItem'
          description: Map of content groups that match the request; keyed by content group ID.
          type: object
      type: object
    filename_v1alpha1ResourceMetadata:
      properties:
        uuid:
          description: Unique identifier for the interaction returned in the resource response; the response ID.
          type: string
        create_time:
          description: Time of the initial request.
          format: date-time
          type: string
        update_time:
          description: Time of the last update; 0 indicates updates have never been made.
          format: date-time
          type: string
        response_time_millis:
          format: int64
          description: Response time (in milliseconds).
          type: integer
      type: object
    filename_v1alpha1ContentGroupContent:
      properties:
        content_id:
          description: Unique identifier for the content within the matching content groups.
          type: string
        content_group_id:
          description: Unique identifier for the content group.
          type: string
      title: Joins Content to a Content Group
      type: object
    filename_v1alpha1SubjectEntity:
      properties:
        subject_id:
          title: hash of subject_category_id and term
          type: string
        term:
          description: Natural language term that represents the subject; case-sensitive.
          type: string
        subject_category_id:
          title: Subject category
          type: string
        definition:
          description: Natural language definition of the subject.
          type: string
        reference_count:
          format: uint64
          title: "!Deprecation Warning!: This field will no longer be kept up to date and must be considered inaccurate. To view subject reference counts \nplease see ListDomainSubjects.\nOptional.  Number of references to the subject found in the content.  This is provided if known and will otherwise be zero.\nReference count at different levels:\nContent - occurrences in content (0 for Prior Knowledge content subjects)\nContent Group - occurrences in all contents in CG\nKnowledge Domain - occurrences in all contents in KD"
          type: string
        content_count:
          format: uint64
          title: Number of contents that refer to the subject.
          type: string
      title: A subject is an unique tuple of term and category
      type: object
    filename_v1alpha1GetSubjectResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1ResourceMetadata'
        data:
          $ref: '#/components/schemas/filename_v1alpha1SubjectEntity'
      type: object
    filename_v1alpha1ListContentGroupItem:
      properties:
        data:
          $ref: '#/components/schemas/filename_v1alpha1ContentGroup'
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1ResourceMetadata'
      type: object
    filename_v1alpha1CollectionMetadata:
      properties:
        uuid:
          description: Unique identifier for the interaction returned in the resource response; the response ID.
          type: string
        response_time_millis:
          description: Response time (in milliseconds).
          format: int64
          type: integer
      title: Metadata that will be returned with each collection-level GET
      type: object
    filename_v1alpha1ContentGroup:
      properties:
        content_group_id:
          description: Unique identifier for the content group.
          type: string
        display_name:
          description: Name of the collection.
          type: string
        description:
          title: Description of the content group.
          type: string
        source_location:
          description: Unique identifier for the source location of the content group.
          type: string
        content_statuses:
          description: Content status for each item in the content group; index corresponds to the number of contents in each content group with that status.
          items:
            format: int32
            type: integer
          type: array
        service_id:
          description: Third-party service connect; if not specified, the oldest service connect with an authority and type matching the source location is assigned.
          type: string
      title: A parent collection of Contents
      type: object
    filename_ContentExtractReadPermission:
      properties:
        allow_emails:
          description: A list of emails that have read permission for the content.
          items:
            type: string
          type: array
        allow_group_ids:
          description: 'A list of group ids that have read permission for the content. This will

            be different for each remote API. It does not need to follow any preset

            pattern, but should be consistent across the particular remote API.'
          items:
            type: string
          type: array
        deny_emails:
          description: A list of emails that do not have read permission for the content.
          items:
            type: string
          type: array
        deny_group_ids:
          description: "A list of group ids that have read permission for the content. This will\n // be different for each remote API. It does not need to follow any preset\n // pattern, but should be consistent across the particular remote API."
          items:
            type: string
          type: array
        any_required_group_ids:
          description: 'A list of group ids where a user needs to a part of AT LEAST ONE of them in order to access the content.

            Even if a user exists in one of these groups, ''read'' permission could still be restricted.'
          items:
            type: string
          type: array
        all_required_group_ids:
          description: 'A list group ids where a user needs to be a part of ALL of them in order to access the object.

            Even if a user exists in all of these groups, ''read'' permission could still be restricted.'
          items:
            type: string
          type: array
        is_public:
          description: A flag to indicate if the content is public.
          type: boolean
        unrestricted_emails:
          description: A list of emails that always have read permission for the content.
          items:
            type: string
          type: array
      title: Permission properties
      type: object
    filename_TextBoxTextLine:
      properties:
        textline_bbox:
          title: 'Bounding box for the text line

            The coordinates of the text line in the format: x1,y1,x2,y2.'
          type: string
        textline_text_bbox:
          title: 'The coordinates of the text line in the format: char1_x1,char1_x2,char2_x1,char2_x2,...'
          type: string
        textline_text:
          title: Text within the text line
          type: string
      title: Text line level information
      type: object
    filename_protobufAny:
      properties:
        type_url:
          type: string
        value:
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
      type: object
    filename_v1alpha1ContentExtract:
      properties:
        text:
          title: The text extracted from the content
          type: string
        textbox_text_separator:
          title: Separator used to concatenate text from multiple text boxes.
          type: string
        pages:
          items:
            $ref: '#/components/schemas/filename_ContentExtractPage'
          title: List of pages in the content.
          type: array
        display_text:
          title: Display view of the content.
          type: string
        read_permission:
          $ref: '#/components/schemas/filename_ContentExtractReadPermission'
        tags:
          items:
            type: string
          title: List of tags associated with the content.
          type: array
        extract_index:
          format: int64
          title: Index of the Content Extract. Index starts at 0
          type: integer
        data_source_metadata:
          additionalProperties:
            $ref: '#/components/schemas/filename_v1alpha1DataSourceMetadata'
          title: '{

            "author": {

            "display_field_name": "Author",

            "value": "J. R. R. Tolkien",

            "data_type": "STRING"

            },

            "title": {

            "display_field_name": "Book Title",

            "value": "The Hobbit",

            "data_type": "STRING"

            }

            }'
          type: object
      type: object
    filename_v1alpha1ListProcessedContentExtractsItem:
      properties:
        data:
          $ref: '#/components/schemas/filename_v1alpha1ContentExtract'
      type: object
    filename_v1alpha1ContentStatus:
      default: UNKNOWN
      description: "The Content status will only be updated by the server.\n\n - CONFIGURED: Initial status; content is configured. \n - UNSUPPORTED: Unsupported content found during the listing phase; cannot be ingested.\n - INGESTING: Content is currently being ingested. \n - INGESTED: Ingestion successful; content cannot be transitioned from this state.\n - INGESTION_FAILED: Ingestion failed; retry the ingestion process."
      type: string
    filename_v1alpha1Content:
      properties:
        content_id:
          title: Unique identifier for the content within the matching content groups.
          type: string
        content_type_id:
          title: 'Required: ID of the ContentType for this Content'
          type: string
        source_location:
          title: String describing the location, typically a URI
          type: string
        display_name:
          title: Name of the collection.
          type: string
        description:
          title: Description of the content group.
          type: string
        status:
          $ref: '#/components/schemas/filename_v1alpha1ContentStatus'
        source_owner:
          title: Unique identifier for the owner of the source content owner.
          type: string
        revision:
          description: Specific revision being referenced; if not specified, the latest revision at the time of ingestion is used.
          type: string
        status_reason:
          description: Reason the content transitioned to current status value; only relevant for INGESTION_FAILED.
          type: string
        labels:
          additionalProperties:
            type: string
          description: Content key/value pair labels that identify characteristics of the content.
          type: object
      type: object
    filename_v1alpha1GetContentResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1ResourceMetadata'
        data:
          $ref: '#/components/schemas/filename_v1alpha1Content'
      type: object
    filename_v1alpha1GetContentMetadataResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1ResourceMetadata'
        data_source_metadata:
          properties: {}
          title: The Raw Data Source Metadata for the Content
          type: object
      type: object
    filename_v1alpha1ListContentGroupContentItem:
      properties:
        data:
          $ref: '#/components/schemas/filename_v1alpha1ContentGroupContent'
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1ResourceMetadata'
      type: object
    filename_PageTextBoxTimestamp:
      properties:
        time:
          title: 'Time of the timestamp

            The format of the time is HH:MM:SS.'
          type: string
        start_char_index:
          format: int64
          title: Start character index for the timestamp relative to the TextBox's text
          type: integer
      title: Timestamps information
      type: object
    filename_v1alpha1ListRetrievalContentExtractsItem:
      properties:
        data:
          $ref: '#/components/schemas/filename_v1alpha1ContentExtract'
      type: object
    filename_v1alpha1ListContentGroupContentsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1CollectionMetadata'
        items:
          items:
            $ref: '#/components/schemas/filename_v1alpha1ListContentGroupContentItem'
          title: Map of all ContentGroup Content joins that match the request, keyed off of content_id
          type: array
        next_page_token:
          title: For multiple pages; must be specified in each request for two pages per sheet.
          type: string
        total_size:
          format: int32
          title: Total number of items in the collection across all pages.
          type: integer
        page_size:
          description: Same as page size in request.
          format: int32
          type: integer
      type: object
    filename_v1alpha1GetContentGroupContentResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1ResourceMetadata'
        data:
          $ref: '#/components/schemas/filename_v1alpha1ContentGroupContent'
      type: object
    filename_v1alpha1ListProcessedContentExtractsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/filename_v1alpha1CollectionMetadata'
        items:
          items:
            $ref: '#/components/schemas/filename_v1alpha1ListProcessedContentExtractsItem'
          title: Array of process extracts matching the request.
          type: array
        next_page_token:
          title: For multiple pages; must be specified in each request for two pages per sheet.
          type: string
        page_size:
          description: Same as page size in request.
          format: int32
          type: integer
      type: object
    contentContentGroupContentRequest:
      properties:
        data:
          $ref: '#/components/schemas/contentContentGroupContent'
      type: object
    contentCreateContentRequest:
      properties:
        data:
          $ref: '#/components/schemas/contentContent'
      type: object
    contentUpdateContentGroupRequest:
      properties:
        data:
          $ref: '#/components/schemas/contentContentGroup'
        update_mask:
          items:
            type: string
          title: "The data path corresponding to the fields being updated in this request.\nOnly the following fields are updatable:\n data.display_name\n data.description\nNote: if no update_mask is supplied, both the display_name and description will be updated.\nsee https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
          type: array
      type: object
    subjectsSubjectEntity:
      properties:
        subject_id:
          title: hash of subject_category_id and term
          type: string
        term:
          description: Required.  A case-insensitive natural language term that represents the subject.
          type: string
        subject_category_id:
          title: Required.  Subject category
          type: string
        definition:
          description: Optional.  Natural language definition of the subject.  This is provided by an expert.
          type: string
        reference_count:
          format: uint64
          title: "!Deprecation Warning!: This field will no longer be kept up to date and must be considered inaccurate. To view subject reference counts \nplease see ListDomainSubjects.\nOptional.  Number of references to the subject found in the content.  This is provided if known and will otherwise be zero.\nReference count at different levels:\nContent - occurrences in content (0 for Prior Knowledge content subjects)\nContent Group - occurrences in all contents in CG\nKnowledge Domain - occurrences in all contents in KD"
          type: string
        content_count:
          format: uint64
          title: 'Optional.  The number of contents that refer to the subject.  This is provided if known and will otherwise be zero.

            Content - 1

            Content Group - count of all contents it occurs in, in the CG

            Knowledge Domain - count of all contents it occurs in, in the KD'
          type: string
      title: A subject is an unique tuple of term and category
      type: object
    contentGetContentResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/v1ResourceMetadata'
        data:
          $ref: '#/components/schemas/contentContent'
      type: object
    subjectsListSubjectsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/v1CollectionMetadata'
        items:
          description: Subjects that match request criteria.
          items:
            $ref: '#/components/schemas/subjectsGetSubjectResponse'
          type: array
        next_page_token:
          title: 'If there are multiple pages, this will be returned and must be specified in each request for pages 2-N using the "page_token" query param.  However, the only reliable way to know if more pages exist is to request the next page when a full page of items is returned.

            see https://cloud.google.com/apis/design/design_patterns#list_pagination'
          type: string
        page_size:
          description: Returned for convenience and clarity - same as page_size in request.
          format: int32
          type: integer
        order_by:
          description: Returned for convenience and clarity - same as order_by in request.
          type: string
      type: object
    contentGetSummaryResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/v1ResourceMetadata'
        data:
          $ref: '#/components/schemas/contentSummaryItem'
      type: object
    contentGetContentGroupResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/v1ResourceMetadata'
        data:
          $ref: '#/components/schemas/contentContentGroup'
      type: object
    contentContent:
      description: A Content object is a single content source and is an element of a Content Group. Source location currently must be a remote file (for example a PDF document, a Google Doc, or the HTML file associated with a single web page). The Content object describes the content, while the actual data is stored in Captures with the Content as its parent.
      properties:
        content_id:
          title: 'Required: ID of this entity'
          type: string
        content_type_id:
          title: 'Required: ID of the ContentType for this Content'
          type: string
        source_location:
          title: String describing the location, typically a URI
          type: string
        display_name:
          title: 'Required: Displayed name'
          type: string
        description:
          title: 'Optional: Description of the ContentGroup'
          type: string
        status:
          $ref: '#/components/schemas/contentContentStatus'
        source_owner:
          title: Optional.  When a content source requires knowledge of the content owner, this field is used to record the identifier of the owner
          type: string
        revision:
          description: The specific revision that is being referenced. If no revision is specified, the latest revision at the time of ingestion will be used, and the Content will be updated with that revision number.
          type: string
        status_reason:
          description: 'The reason that the Content was transitioned to its current status value.  Generally only relevant when the status is INGESTION_FAILED.

            This field will be set by the service on status transition, and cannot be set in a CreateContent request.'
          type: string
        labels:
          additionalProperties:
            type: string
          description: 'Optional. Content key/value pair labels.

            Labels can be used to identify characteristics of the Content.'
          type: object
      type: object
    contentSummaryItem:
      properties:
        text:
          type: string
        html:
          type: string
      type: object
    contentContentGroupContent:
      properties:
        content_id:
          title: 'Required: ID of the Content'
          type: string
        content_group_id:
          title: 'Required: ID of the ContentGroup'
          type: string
      title: A ContentGroupContent joins Content to a ContentGroup
      type: object
    contentListContentGroupItem:
      properties:
        data:
          $ref: '#/components/schemas/contentContentGroup'
        metadata:
          $ref: '#/components/schemas/v1ResourceMetadata'
      type: object
    contentListContentGroupContentItem:
      properties:
        data:
          $ref: '#/components/schemas/contentContentGroupContent'
        metadata:
          $ref: '#/components/schemas/v1ResourceMetadata'
      type: object
    contentContentStatus:
      default: UNKNOWN
      description: "The Content status will only be updated by the server.\n\n - CONFIGURED: CONFIGURED: This is the initial status, indicating the Content is configured. Should be transitioned to INGESTING when the ingestion process starts.\n - UNSUPPORTED: UNSUPPORTED: This Content was found during the listing phase, but we do not support it for ingestion.\n - INGESTING: INGESTING: The Content is currently being ingested. Should be transitioned to INGESTED upon successful ingestion, or INGESTION_FAILED upon ingestion failure.\n - INGESTED: INGESTED: Ingestion for this Content has succeeded. Content cannot be transitioned from this state.\n - INGESTION_FAILED: INGESTION_FAILED: Ingestion for this Content failed. Content can be transitioned to INGESTING upon re-try of the ingestion process."
      enum:
      - UNKNOWN
      - CONFIGURED
      - UNSUPPORTED
      - INGESTING
      - INGESTED
      - INGESTION_FAILED
      type: string
    contentListContentsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/v1CollectionMetadata'
        items:
          items:
            $ref: '#/components/schemas/contentListContentItem'
          title: Array of Contents that match the request
          type: array
        next_page_token:
          title: 'If there are multiple pages, this will be returned and must be specified in each request for pages 2-N using the "page_token" query param.  However, the only reliable way to know if more pages exist is to request the next page when a full page of items is returned.

            see https://cloud.google.com/apis/design/design_patterns#list_pagination'
          type: string
        page_size:
          description: Returned for convenience and clarity - same as page_size in request.
          format: int32
          type: integer
      type: object
    contentListContentGroupsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/v1CollectionMetadata'
        items:
          additionalProperties:
            $ref: '#/components/schemas/contentListContentGroupItem'
          description: Map of ContentGroups that match the request, keyed by content_group_id.
          type: object
      type: object
    contentGetContentGroupContentResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/v1ResourceMetadata'
        data:
          $ref: '#/components/schemas/contentContentGroupContent'
      type: object
    contentCreateContentGroupRequest:
      properties:
        data:
          $ref: '#/components/schemas/contentContentGroup'
      type: object
    v1ResourceMetadata:
      properties:
        uuid:
          description: UUID returned in the resource response, which represents the unique interaction with the API, that is, the response id.
          type: string
        create_time:
          description: Time of the initial request.
          format: date-time
          type: string
        update_time:
          description: 'Time of the last update.

            A value of 0 indicates it has never been updated.'
          format: date-time
          type: string
        response_time_millis:
          format: int64
          title: Time difference in milliseconds between when the request was received and when the response was generated
          type: integer
      type: object
    googlerpcStatus:
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
      type: object
    contentListContentGroupContentsResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/v1CollectionMetadata'
        items:
          items:
            $ref: '#/components/schemas/contentListContentGroupContentItem'
          title: Map of all ContentGroup Content joins that match the request, keyed off of content_id
          type: array
        next_page_token:
          title: 'If there are multiple pages, this will be returned and must be specified in each request for pages 2-N using the "page_token" query param.  However, the only reliable way to know if more pages exist is to request the next page when a full page of items is returned.

            see https://cloud.google.com/apis/design/design_patterns#list_pagination'
          type: string
        total_size:
          format: int32
          title: 'This is the total number of items in the collection across all the pages.  It is returned with every page and may change during page traversal.

            see https://cloud.google.com/apis/design/design_patterns#list_pagination'
          type: integer
        page_size:
          description: Returned for convenience and clarity - same as page_size in request.
          format: int32
          type: integer
      type: object
    subjectsGetSubjectResponse:
      properties:
        metadata:
          $ref: '#/components/schemas/v1ResourceMetadata'
        data:
          $ref: '#/components/schemas/subjectsSubjectEntity'
      type: object
    contentListContentItem:
      properties:
        data:
          $ref: '#/components/schemas/contentContent'
        metadata:
          $ref: '#/components/schemas/v1ResourceMetadata'
      type: object
    protobufAny:
      properties:
        type_url:
          type: string
        value:
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
      type: object
    v1CollectionMetadata:
      properties:
        uuid:
          description: Random UUID returned in the resource response to represent the unique interaction with the API.  This can be thought of as a response id.
          type: string
        response_time_millis:
          description: Time difference in milliseconds between when the request was received and when the response was generated, that is, the latency.
          format: int64
          type: integer
      title: Metadata that will be returned with each collection-level GET
      type: object
    contentContentGroup:
      properties:
        content_group_id:
          title: 'Required: ID of this entity'
          type: string
        display_name:
          title: 'Required: Displayed name'
          type: string
        description:
          title: 'Optional: Description of the ContentGroup'
          type: string
        source_location:
          description: 'Optional: URI for the source location for this Content Group. This field should not be specified by the client and will be filled in by the server when a KD is created using the custom verb createWithSources.'
          type: string
        content_statuses:
          description: 'The status breakdown of the contents in the content group

            The index corresponds to the Content Status and the value at the index

            is the number of contents in the content group with that status.

            For example, if the content group has 5 contents all in the ingesting phase,

            then this would be [0, 0, 5, 0, 0, 0].

            If a content group has 8 contents 2 configured, 1 ingesting, 2 ingested and 3 failed,

            then this would be [0, 2, 1, 2, 3, 0].'
          items:
            format: int32
            type: integer
          type: array
        service_id:
          description: Optional. The third-party service connect. If not specified, the oldest service connect with an authority and type matching the source_location will be assigned.
          type: string
      title: 'A ContentGroup is a parent collection of Contents

        It can be joined with many Knowledge Domains

        It can be joined with many Contents'
      type: object
  securitySchemes:
    oauth2_token:
      description: The Pryon APIs are authenicated with an OAuth2 Bearer token.
      type: apiKey
      name: 'Authoriation: Bearer'
      in: header
x-tagGroups:
- name: Retrieval APIs
  tags:
  - Content Service
  - Exchange
  - Glossary
