{"openapi":"3.0.1","info":{"title":"Retrieval","version":"1.0","contact":{"name":"Pryon Product Support","url":"https://pryon.zendesk.com","email":"support@pryon.zendesk.com"},"description":"","x-logo":{"altText":"Pryon APIs"}},"servers":[{"url":"https://api.pryon.net","description":"Pryon Cloud"}],"tags":[{"name":"Content Services","description":"A content object is a single content source (e.g., a PDF document, a Google Doc, or the HTML file associated with a single web page) and is an element of a content group (such as a Sharepoint folder). A set of content groups make up a knowledge domain (or index) which can be queried against. ","x-displayName":"Content"},{"name":"Exchange","description":"The exchange API allows you to make natural language inquiries about your ingested information, retrieving the top matched answers and surrounding context to power RAG applications. Outputs include a short answer, surrounding context chunk, links for attribution, bounding boxes for answer highlighting, content metadata, and more.\n\nFor conversational use cases, the exchange API initiates and continues a conversation. Each call performs one synchronous round-trip by sending a text request to the service and receiving the text response. Pryon stores and references a record of each verbal/textual interaction with the Pryon API. ","x-displayName":"Exchange"},{"name":"Glossary","description":"| Term | Definition |\n| ---- | ---------- |\n| Answer in Context (AIC) | The chunk of text that the answer is found in. |\n| Application Programming Interface (API) | A set of functions and procedures that allow the creation of applications that access the features or data of an operating system, application, or other service. |\n| Authentication (Auth) | Verifies the identity of a user or process, ensuring that the individual using a system or device is authorized. |\n| Bounding Box | Coordinates returned as a list of four floating point numbers representing the top-left and bottom-right corners of the box of the answer snippet on the source document image. |\n| Collection | Databases of knowledge that have been imported into the platform |\n| Content | The building blocks of the knowledge base, including any enterprise documents and data sources added to a collection. |\n| Content Group | Used to organize elements within a content type to make content more structured, adaptive, and searchable. Each content group can be prioritized or deprioritized according to the configuration. |\n| Identity Provider (IDP) | Stores and verifies user identity. |\n| Knowledge Domain (KD) | An instance or version of a collection. Updating a collection’s contents creates a new knowledge domain. |\n| Prior Knowledge (PK) | Configuration file used to store metadata about installed libraries on a system |\n| Ranking | The sort order applied to answers according to specific criterion so that the best results appear early in the result list displayed to the user. |\n| Single Sign-On (SSO) | Authentication which allows a user to log in to any of several related, yet independent, applications, systems, or services with a single ID. |\n| Score | A numerical value that indicates the quality and relevance of a piece of content in relation to the question being asked. |\n| Subjects | An entity that is part of a subject category and stores a term and its reference count. |\n| Verified Answer (VA) | Answers verified manually by a domain administrator. |","x-displayName":"Glossary"}],"paths":{"/api/knowledge/v1alpha1/content-groups":{"get":{"operationId":"ContentService_ListContentGroups","parameters":[{"description":"Unique identifier of the knowledge domain that supplied the exchange response.","in":"query","name":"knowledge_domain_id","schema":{"type":"string"}},{"description":"Unique identifier for the content within the matching content groups.","in":"query","name":"content_id","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ListContentGroupsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"List Content Groups","tags":["Content Service"],"description":"Filter content groups by knowledge domain and content."},"post":{"operationId":"ContentService_CreateContentGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1CreateContentGroupRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetContentGroupResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Create Content Group","tags":["Content Service"],"x-codegen-request-body-name":"body","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}]}},"/api/knowledge/v1alpha1/content-groups/{content_group_id}":{"delete":{"operationId":"ContentService_DeleteContentGroup","parameters":[{"description":"Unique identifier for the content group.","in":"path","name":"content_group_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Delete Content Group","tags":["Content Service"],"description":"Delete a content group without altering the content resources."},"get":{"operationId":"ContentService_GetContentGroup","parameters":[{"description":"Unique identifier for the content group.","in":"path","name":"content_group_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetContentGroupResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Content Group","tags":["Content Service"],"description":"Retrieve a content group using the ID."}},"/api/knowledge/v1alpha1/content-groups/{content_group_id}/contents":{"delete":{"operationId":"ContentService_DeleteContentGroupContents","parameters":[{"description":"Unique identifier for the content group.","in":"path","name":"content_group_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Delete Content Group Contents","tags":["Content Service"],"description":"Delete all child content associations with the parent content group."},"get":{"operationId":"ContentService_ListContentGroupContents","parameters":[{"description":"Unique identifier for the content group.","in":"path","name":"content_group_id","required":true,"schema":{"type":"string"}},{"description":"Maximum page size is 100; default is 100.","in":"query","name":"page_size","schema":{"format":"int32","type":"integer"}},{"description":"For multiple pages; must be specified in each request for two pages per sheet.","in":"query","name":"page_token","schema":{"type":"string"}},{"description":"If set to True will only return item IDs.","in":"query","name":"return_only_id","schema":{"type":"boolean"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ListContentGroupContentsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"List Content Group Contents","tags":["Content Service"],"description":"List content group sources by ID."}},"/api/knowledge/v1alpha1/content-groups/{content_group_id}/contents/{content_id}":{"delete":{"operationId":"ContentService_DeleteContentGroupContent","parameters":[{"description":"Unique identifier for the content group.","in":"path","name":"content_group_id","required":true,"schema":{"type":"string"}},{"description":"Unique identifier for the content within the matching content groups.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Delete Content Group Content","tags":["Content Service"],"description":"Delete content associations within the parent content group."},"get":{"operationId":"ContentService_GetContentGroupContent","parameters":[{"description":"Unique identifier for the content group.","in":"path","name":"content_group_id","required":true,"schema":{"type":"string"}},{"description":"Unique identifier for the content within the matching content groups.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetContentGroupContentResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Content Group Content","tags":["Content Service"],"description":"Get content group sources by ID."}},"/api/knowledge/v1alpha1/content-groups/{content_group_id}:cascade":{"delete":{"operationId":"ContentService_CascadeDeleteContentGroup","parameters":[{"description":"Unique identifier for the content group.","in":"path","name":"content_group_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Cascade Delete Content Group","tags":["Content Service"],"description":"Delete content group source associations and remove from knowledge domain."}},"/api/knowledge/v1alpha1/content-groups/{data.content_group_id}":{"patch":{"operationId":"ContentService_UpdateContentGroup","parameters":[{"description":"Unique identifier for the content group.","in":"path","name":"data.content_group_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetContentGroupResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Update Content Group","tags":["Content Service"],"description":"Update the display name for a content group."}},"/api/knowledge/v1alpha1/content-groups/{data.content_group_id}/contents/{data.content_id}":{"post":{"operationId":"ContentService_CreateContentGroupContent","parameters":[{"description":"Unique identifier for the content group.","in":"path","name":"data.content_group_id","required":true,"schema":{"type":"string"}},{"description":"Unique identifier for the content within the matching content groups.","in":"path","name":"data.content_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ContentGroupContentRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetContentGroupContentResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Create Content Group Content","tags":["Content Service"],"x-codegen-request-body-name":"body","description":"Create content group sources."}},"/api/knowledge/v1alpha1/contents":{"get":{"operationId":"ContentService_ListContents","parameters":[{"description":"Unique identifier of the knowledge domain that supplied the exchange response.","in":"query","name":"knowledge_domain_id","schema":{"type":"string"}},{"description":"Unique identifier for the content within the matching content groups.","in":"query","name":"content_group_id","schema":{"type":"string"}},{"description":"Precise location of the source material.","in":"query","name":"source_location","schema":{"type":"string"}},{"description":"Maximum page size is 100; default is 100.","in":"query","name":"page_size","schema":{"format":"int32","type":"integer"}},{"description":"For multiple pages; must be specified in each request for two pages per sheet.","in":"query","name":"page_token","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ListContentsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"List Contents","tags":["Content Service"],"description":"List contents associated with a knowledge domain."},"post":{"operationId":"ContentService_CreateContent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1CreateContentRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetContentResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Create Content","tags":["Content Service"],"x-codegen-request-body-name":"body","description":"Create methods for contents.","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}]}},"/api/knowledge/v1alpha1/contents/{content_id}":{"delete":{"operationId":"ContentService_DeleteContent","parameters":[{"description":"Unique identifier for the content to be deleted.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Delete Content","tags":["Content Service"],"description":"Delete the content and all child resources."},"get":{"operationId":"ContentService_GetContent","parameters":[{"description":"Unique identifier for the content to be returned.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetContentResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Content Service"],"summary":"Get Content","description":""}},"/api/knowledge/v1alpha1/contents/{content_id}/image":{"get":{"operationId":"ContentService_GetContentImage","parameters":[{"description":"Unique identifier for the content within the matching content groups.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"description":"Page number in the content.","in":"query","name":"page","schema":{"format":"int32","type":"integer"}},{"description":"True does not compress the image data; default is false (compressed).","in":"query","name":"uncompressed","schema":{"type":"boolean"}},{"description":"True returns a debug image.","in":"query","name":"debug","schema":{"type":"boolean"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Content Image","tags":["Content Service"],"description":"Return an image representation of the content."}},"/api/knowledge/v1alpha1/contents/{content_id}/processed-extracts":{"get":{"operationId":"ContentService_ListProcessedContentExtracts","parameters":[{"description":"Unique identifier for the content within the matching content groups.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"description":"Unique identifier of the knowledge domain that contains the exchange response.","in":"query","name":"knowledge_domain_id","schema":{"type":"string"}},{"description":"Maximum page size is 100; default is 100.","in":"query","name":"page_size","schema":{"format":"int32","type":"integer"}},{"description":"For multiple pages; must be specified in each request for two pages per sheet.","in":"query","name":"page_token","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ListProcessedContentExtractsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"List Processed Content Extracts","tags":["Content Service"],"description":"List initial processed extracts by content ID."}},"/api/knowledge/v1alpha1/contents/{content_id}/retrieval-extracts":{"get":{"operationId":"ContentService_ListRetrievalContentExtracts","parameters":[{"description":"Unique identifier for the content within the matching content groups.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"description":"Unique identifier of the knowledge domain that supplied the exchange response.","in":"query","name":"knowledge_domain_id","schema":{"type":"string"}},{"description":"Maximum page size is 100; default is 100.","in":"query","name":"page_size","schema":{"format":"int32","type":"integer"}},{"description":"For multiple pages; must be specified in each request for two pages per sheet.","in":"query","name":"page_token","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ListRetrievalContentExtractsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"List Retrieval Content Extracts","tags":["Content Service"],"description":"List of retrieval extracts by content ID."}},"/api/knowledge/v1alpha1/contents/{content_id}/subjects":{"get":{"operationId":"ContentService_ListContentSubjects","parameters":[{"description":"Unique identifier for the content within the matching content groups.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"description":"Maximum page size is 100; default is 100.","in":"query","name":"page_size","schema":{"format":"int32","type":"integer"}},{"description":"IFor multiple pages; must be specified in each request for two pages per sheet.","in":"query","name":"page_token","schema":{"type":"string"}},{"description":"Sort order for multi page requests; valid options are rank, rank desc, create_time, create_time desc.","in":"query","name":"order_by","schema":{"type":"string"}},{"description":"Unique identifier for the grouping of specific topics.","in":"query","name":"subject_category_id","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ListSubjectsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"List Content Subjects","tags":["Content Service"],"description":"List subjects associated with a content item."}},"/api/knowledge/v1alpha1/contents/{content_id}/summary":{"get":{"operationId":"ContentService_GetSummary","parameters":[{"description":"Unique identifier for the content within the matching content groups.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetSummaryResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Summary","tags":["Content Service"],"description":"Get summary information by content ID."}},"/api/knowledge/v1alpha1/contents/{content_id}:cascade":{"delete":{"operationId":"ContentService_CascadeDeleteContent","parameters":[{"description":"Unique identifier for the content to be deleted.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Cascade Delete Content","tags":["Content Service"],"description":"Delete the content and all child resources, and remove from all content groups."}},"/api/knowledge/v1alpha1/domains/{knowledge_domain_id}/contents/{content_id}/metadata":{"get":{"operationId":"ContentService_GetContentMetadata","parameters":[{"description":"Unique identifier of the knowledge domain containing the requested metadata","in":"path","name":"knowledge_domain_id","required":true,"schema":{"type":"string"}},{"description":"Unique identifier for the content within the matching content groups.","in":"path","name":"content_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetContentMetadataResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Content Metadata","tags":["Content Service"],"description":"List metadata by content ID."}},"/api/conversation/v1alpha1/retrievals":{"post":{"operationId":"Retrieval_CreateRetrieval","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1CreateRetrievalRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetRetrievalResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Create Retrieval","tags":["Retrieval"],"x-codegen-request-body-name":"body","description":"Initiate or continue a conversation with the retrieval service.","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}]}},"/api/conversation/v1alpha1/retrievals/wss":{"post":{"description":"Initiate or continue a conversation.","operationId":"Retrieval_CreateWsRetrieval","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1CreateWsRetrievalRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1WsRetrieval"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Create Ws Retrieval","tags":["Retrieval"],"x-codegen-request-body-name":"body","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}]}},"/api/conversation/v1alpha1/retrievals/{retrieval_id}":{"get":{"operationId":"Retrieval_GetRetrieval","parameters":[{"description":"Unique identifier associated with the response object sources.","in":"path","name":"retrieval_id","required":true,"schema":{"type":"string"}},{"description":"Unique identifier for the output.","in":"query","name":"output_id","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetRetrievalResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Retrieval","tags":["Retrieval"],"description":"Retrieve the query and output data for existing retrieval data."}},"/api/conversation/v1alpha1/retrievals/{retrieval_id}/image":{"get":{"description":"Get an image representation of the content with bounding boxes.","operationId":"Retrieval_GetRetrievalContentImage","parameters":[{"description":"Unique identifier for the response object for the bounding boxes and content ID.","in":"path","name":"retrieval_id","required":true,"schema":{"type":"string"}},{"description":"Unique identifier for the retrieval output; defaults to the first instance.","in":"query","name":"output_id","schema":{"type":"string"}},{"description":"Page number in the content; defaults to the first content page associated with the retrieval output.","in":"query","name":"page","schema":{"format":"int32","type":"integer"}},{"description":"Compress image data; valid values are 0 for compressed (default) and 1 for uncompressed.","in":"query","name":"uncompressed","schema":{"type":"boolean"}},{"description":"Bounding box overlay color specified as a hex color code without the leading hashtag; supports 3, 4, 6, and 8 character codes.","in":"query","name":"overlay_color","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetRetrievalContentImageResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Retrieval Content Image","tags":["Retrieval"]}},"/api/conversation/v1alpha1/retrievals/rating-reviews":{"get":{"operationId":"RetrievalFeedback_ListRetrievalRatingReviews","parameters":[{"description":"Filter list output  with ratings for a knowledge collection.","in":"query","name":"collection_id","schema":{"type":"string"}},{"description":"Unique ID of the exchange item; if supplied, overrides the collection ID as a filter item; default is no entry.","in":"query","name":"retrieval_id","schema":{"type":"string"}},{"description":"Ratings included in requested review status; defaults to UNSPECIFIED.\n\n - UNSPECIFIED: Not a valid retrieval rating value.\n - PENDING: Waiting to be inspected for approval or rejection.\n - COMPLETE: Inspected and acted upon; no further action taken.","in":"query","name":"status","schema":{"type":"string"}},{"description":"Filter list output to only include ratings made by a given user.","in":"query","name":"creator_id","schema":{"type":"string"}},{"description":"Rank value given by the user; valid responses are 1 (negative) and 5 (positive).","in":"query","name":"rank","schema":{"format":"int32","type":"integer"}},{"description":"Maximum page size is 100; default is 100.","in":"query","name":"page_size","schema":{"format":"int32","type":"integer"}},{"description":"For multiple pages; must be specified in each request for two pages per sheet.","in":"query","name":"page_token","schema":{"type":"string"}},{"description":"Sort order for multi page requests; valid options are rank, rank desc, create_time, create_time desc.","in":"query","name":"order_by","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ListRetrievalRatingReviewsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"List Retrieval Rating Reviews","tags":["RetrievalFeedback"],"description":"Return rating reviews for a resource."}},"/api/conversation/v1alpha1/retrievals/ratings":{"post":{"operationId":"RetrievalFeedback_CreateRetrievalRating","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1CreateRetrievalRatingRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetRetrievalRatingResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Create Retrieval Rating","tags":["RetrievalFeedback"],"x-codegen-request-body-name":"body","description":"Create a retrieval rating.","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}]}},"/api/conversation/v1alpha1/retrievals/ratings/{data.rating.rating_id}/review":{"patch":{"operationId":"RetrievalFeedback_UpdateRetrievalRatingReview","parameters":[{"description":"Unique identifier for the exchange rating; automatically generated.","in":"path","name":"data.rating.rating_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1UpdateRetrievalRatingReviewRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetRetrievalRatingReviewResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Update Retrieval Rating Review","tags":["RetrievalFeedback"],"x-codegen-request-body-name":"body","description":"Update the review perspective of a retrieval rating item."}},"/api/conversation/v1alpha1/retrievals/ratings/{data.rating_id}":{"patch":{"operationId":"RetrievalFeedback_UpdateRetrievalRating","parameters":[{"description":"Unique identifier for the exchange rating; automatically generated.","in":"path","name":"data.rating_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1UpdateRetrievalRatingRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetRetrievalRatingResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Update Retrieval Rating","tags":["RetrievalFeedback"],"x-codegen-request-body-name":"body","description":"Modify an existing retrieval rating."}},"/api/conversation/v1alpha1/retrievals/ratings/{rating_id}":{"delete":{"operationId":"RetrievalFeedback_DeleteRetrievalRating","parameters":[{"in":"path","name":"rating_id","description":"Unique identifier for the exchange rating; automatically generated.","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Delete Retrieval Rating","tags":["RetrievalFeedback"],"description":"Delete a retrieval rating."},"get":{"operationId":"RetrievalFeedback_GetRetrievalRating","parameters":[{"in":"path","name":"rating_id","description":"Unique identifier for the exchange rating; automatically generated.","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetRetrievalRatingResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Retrieval Rating","tags":["RetrievalFeedback"],"description":"Get a retrieval rating."}},"/api/conversation/v1alpha1/retrievals/ratings/{rating_id}/review":{"get":{"operationId":"RetrievalFeedback_GetRetrievalRatingReview","parameters":[{"in":"path","name":"rating_id","description":"Unique identifier for the exchange rating; automatically generated.","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetRetrievalRatingReviewResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Retrieval Rating Review","tags":["RetrievalFeedback"],"description":"Return the review perspective of a retrieval rating item."}},"/api/conversation/v1alpha1/verified-answers":{"get":{"operationId":"RetrievalFeedback_ListVerifiedAnswers","parameters":[{"description":"Unique identifier of the knowledge domain that lists the verified answers.","in":"query","name":"knowledge_domain_id","schema":{"type":"string"}},{"description":"If request contains the collection_id, use it as the filter instead of the knowledge_domain_id.","in":"query","name":"collection_id","schema":{"type":"string"}},{"description":"Verified answer status.\n\n - PENDING_REVIEW: Answer under review.\n - APPROVED: Answer verified and approved.","in":"query","name":"verified_answer_status","schema":{"default":"UNSPECIFIED","type":"string"}},{"description":"If set to True will only return item IDs.","in":"query","name":"return_only_item_keys","schema":{"type":"boolean"}},{"description":"Maximum page size is 100; default is 100.","in":"query","name":"page_size","schema":{"format":"int32","type":"integer"}},{"description":"For multiple pages; must be specified in each request for two pages per sheet.","in":"query","name":"page_token","schema":{"type":"string"}},{"description":"Sort order for multi page requests; valid options are update_time desc and update_time asc.","in":"query","name":"order_by","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ListVerifiedAnswersResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"List Verified Answers","tags":["RetrievalFeedback"],"description":"List verified answer entries."},"post":{"operationId":"RetrievalFeedback_CreateVerifiedAnswer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1CreateVerifiedAnswerRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1CreateVerifiedAnswerResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Create Verified Answer","tags":["RetrievalFeedback"],"x-codegen-request-body-name":"body","description":"Create a verified answer entry.","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}]}},"/api/conversation/v1alpha1/verified-answers/{data.verified_answer_id}":{"patch":{"operationId":"RetrievalFeedback_UpdateVerifiedAnswer","parameters":[{"description":"Unique identifier generated on a create verified answer request.","in":"path","name":"data.verified_answer_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1UpdateVerifiedAnswerRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1UpdateVerifiedAnswerResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Update Verified Answer","tags":["RetrievalFeedback"],"x-codegen-request-body-name":"body","description":"Modify an existing verified answer entry."}},"/api/conversation/v1alpha1/verified-answers/{verified_answer_id}":{"delete":{"operationId":"RetrievalFeedback_DeleteVerifiedAnswer","parameters":[{"description":"Unique identifier of the verified answer; if the answer isn't verified this is unset.","in":"path","name":"verified_answer_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Delete Verified Answer","tags":["RetrievalFeedback"],"description":"Delete a verified answer entry."},"get":{"operationId":"RetrievalFeedback_GetVerifiedAnswer","parameters":[{"description":"Unique identifier of the verified answer; if the answer isn't verified this is unset.","in":"path","name":"verified_answer_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetVerifiedAnswerResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Verified Answer","tags":["RetrievalFeedback"],"description":"Get information about a verified answer."}},"/api/conversation/v1alpha1/generative-retrievals":{"post":{"description":"Create a new generative retrieval using server-sent events (SSE).","operationId":"GenerativeRetrieval_CreateGenerativeRetrievalSSE","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1CreateGenerativeRetrievalRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GenerativeRetrievalSSEData"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Create Generative Retrieval SSE","tags":["GenerativeRetrieval"],"x-codegen-request-body-name":"body","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}]}},"/api/conversation/v1alpha1/generative-retrievals/{generative_retrieval_id}":{"get":{"operationId":"GenerativeRetrieval_GetGenerativeRetrieval","parameters":[{"description":"Unique identifier for the generative response object.","in":"path","name":"generative_retrieval_id","required":true,"schema":{"type":"string"}},{"description":"Unique identifier of the knowledge domain that supplied the generative exchange response.","in":"query","name":"knowledge_domain_id","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetGenerativeRetrievalResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["GenerativeRetrieval"],"summary":"Get Generative Retrieval","description":"Return a generative retrieval answer."}},"/api/conversation/v1alpha1/generative-retrieval-ratings":{"post":{"operationId":"GenerativeRetrievalFeedback_CreateGenerativeRetrievalRating","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1CreateGenerativeRetrievalRatingRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetGenerativeRetrievalRatingResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["GenerativeRetrievalFeedback"],"x-codegen-request-body-name":"body","summary":"Create Generative Retrieval Rating","description":"Create a rating for the generative retrieval.","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}]}},"/api/conversation/v1alpha1/generative-retrieval-ratings-reviews":{"get":{"operationId":"GenerativeRetrievalFeedback_ListGenerativeRetrievalRatingReviews","parameters":[{"description":"Filter list output to only include ratings for a knowledge collection.","in":"query","name":"collection_id","schema":{"type":"string"}},{"description":"Unique ID of the exchange item; if supplied, overrides the collection ID as a filter item; default is no entry.","in":"query","name":"generative_retrieval_id","schema":{"type":"string"}},{"description":"Ratings included in requested review status; defaults to UNSPECIFIED.\n\n - UNSPECIFIED: Not a valid retrieval rating value.\n - PENDING: Waiting to be inspected for approval or rejection.\n - COMPLETE: Inspected and acted upon; no further action taken.","in":"query","name":"status","schema":{"type":"string"}},{"description":"Filter list output to only include ratings made by a given user.","in":"query","name":"creator_id","schema":{"type":"string"}},{"description":"Filter list output to only include ratings that match a given rank value. In REST form the parameter is expressed as 'rank' with valid values 1-5.","in":"query","name":"rank","schema":{"format":"int32","type":"integer"}},{"description":"Maximum page size is 100; default is 100.","in":"query","name":"page_size","schema":{"format":"int32","type":"integer"}},{"description":"For multiple pages; must be specified in each request for two pages per sheet.","in":"query","name":"page_token","schema":{"type":"string"}},{"description":"Sort order for multi page requests; valid options are rank, rank desc, create_time, create_time desc.","in":"query","name":"order_by","schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1ListGenerativeRetrievalRatingReviewsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["GenerativeRetrievalFeedback"],"summary":"List Generative Retrieval Rating Reviews","description":"List generative retrieval reviews by rating."}},"/api/conversation/v1alpha1/generative-retrieval-ratings/{data.rating.rating_id}/review":{"patch":{"operationId":"GenerativeRetrievalFeedback_UpdateGenerativeRetrievalRatingReview","parameters":[{"description":"Unique identifier for the exchange rating; automatically generated.","in":"path","name":"data.rating.rating_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1UpdateGenerativeRetrievalRatingReviewRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetGenerativeRetrievalRatingReviewResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Update Generative Retrieval Rating Review","tags":["GenerativeRetrievalFeedback"],"x-codegen-request-body-name":"body","description":"Update the review perspective of a retrieval rating item."}},"/api/conversation/v1alpha1/generative-retrieval-ratings/{data.rating_id}":{"patch":{"operationId":"GenerativeRetrievalFeedback_UpdateGenerativeRetrievalRating","parameters":[{"description":"Unique identifier for the exchange rating; automatically generated.","in":"path","name":"data.rating_id","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1UpdateGenerativeRetrievalRatingRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetGenerativeRetrievalRatingResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["GenerativeRetrievalFeedback"],"x-codegen-request-body-name":"body","summary":"Update Generative Retrieval Rating","description":"Update a generative retrieval rating."}},"/api/conversation/v1alpha1/generative-retrieval-ratings/{rating_id}":{"delete":{"operationId":"GenerativeRetrievalFeedback_DeleteGenerativeRetrievalRating","parameters":[{"in":"path","name":"rating_id","description":"Unique identifier for the exchange rating; automatically generated.","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["GenerativeRetrievalFeedback"],"summary":"Delete Generative Retrieval Rating","description":"Delete a generative retrieval rating."},"get":{"operationId":"GenerativeRetrievalFeedback_GetGenerativeRetrievalRating","parameters":[{"in":"path","name":"rating_id","description":"Unique identifier for the exchange rating; automatically generated.","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetGenerativeRetrievalRatingResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["GenerativeRetrievalFeedback"],"summary":"Get Generative Retrieval Rating","description":"Return a generative retrieval rating. "}},"/api/conversation/v1alpha1/generative-retrieval-ratings/{rating_id}/review":{"get":{"operationId":"GenerativeRetrievalFeedback_GetGenerativeRetrievalRatingReview","parameters":[{"in":"path","name":"rating_id","description":"Unique identifier for the exchange rating; automatically generated.","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"},"example":"Authorization: Bearer {base64-encoded-token}"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_v1alpha1GetGenerativeRetrievalRatingReviewResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filename_googlerpcStatus"}}},"description":"An unexpected error response."}},"summary":"Get Generative Retrieval Rating Review","tags":["GenerativeRetrievalFeedback"],"description":"List the review perspective of a retrieval rating item."}}},"components":{"schemas":{"filename_protobufAny":{"properties":{"type_url":{"type":"string"},"value":{"format":"byte","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","type":"string"}},"type":"object"},"filename_rpcStatus":{"properties":{"code":{"format":"int32","type":"integer"},"message":{"type":"string"},"details":{"items":{"$ref":"#/components/schemas/filename_protobufAny"},"type":"array"}},"type":"object"},"filename_CreateWsExchangeRequestAction":{"default":"UNSPECIFIED_ACTION","description":" - UNSPECIFIED_ACTION: Not specified; this is the default value and if received triggers an ERROR response message.\n - START: Signals the intent to begin an exchange.\nExisting conversations: set the conversation_id to the value used in previous exchanges.\nText input: include the complete input.raw_text.\nAudio input: include valid input.raw_audio.audio_encoding and input.raw_audio.sample_rate_hertz fields sent in binary messages; invalid values result in an ERROR response and close the connection.\nSuccessful start requests return a PROCESSING message, allowing you to send frames of audio as binary messages.\n - STOP: Sent following the START message. For audio input mode, sent by the client after all audio frames have been sent to the server.","type":"string"},"filename_ExchangeInputAdditionalQuestionRequest":{"default":"UNSPECIFIED","description":"Request additional questions to be recommended alongside the response when applicable.\n\n - UNSPECIFIED: UNSPECIFIED: Default option, none requested\n - RELATED: RELATED: Request only related questions\n - FOLLOWUP: FOLLOWUP: Request only follow-up questions\n - RELATED_AND_FOLLOWUP: RELATED_AND_FOLLOWUP: Request both related and follow-up questions","type":"string"},"filename_WsExchangeResponseDataState":{"default":"UNSPECIFIED_STATE","description":" - UNSPECIFIED_STATE: UNSPECIFIED_STATE: Not specified.\n - ERROR: The ERROR state indicates that an unsupported request has been received or the API server is having problems. The server will always follow an ERROR response by closing the connection.\n - PROCESSING: The PROCESSING state indicates that the API has successfully received a START request for audio input and is ready to receive binary messages with audio frames followed by a STOP text message from the client. This message will include the conversation_id and exchange_id values that will be preserved all the way through to the end of the exchange.\n - QUERY_RESULT: The QUERY_RESULT state indicates that the API has returned the exchange response to the client. The result will include the complete text response. If audio output is enabled, it will be sent as binary messages that precede PROCESSING_COMPLETED.\n - PROCESSING_COMPLETED: The PROCESSING_COMPLETED state indicates that the API has completed sending the full response for an exchange request.","type":"string"},"filename_protobufNullValue":{"default":"NULL_VALUE","description":"`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\n The JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value.","type":"string"},"filename_v1alpha1Attachment":{"properties":{"content_type":{"description":"The content type of the additional information. Format of each type field is application/vnd.pryon.**{content_type}**. Commonly occurring types are:\n- **text** - The answer snippet or the text corresponding to detected short spans within the answer_in_context. Best_n will be the same string as the ‘text’ field and represents the ranking of the sentence within the AIC/chunk.\n- **answer_in_context** - Chunk of text identified as most relevant to the input query. The smaller text answer/reply is extracted from this larger text.\n- **answer_type** - Answer type or classification. Answer types include:\n   - **TEXT_EXCERPT**: Default.\n   - **FAQ**: An answer derived from the frequently asked questions.\n   - **OUT_OF_DOMAIN**: A query that is out of domain.\n   - **NON_ASCII_OUT_OF_SCOPE**: A query that is out of scope due to non ascii characters.\n   - **BELOW_THRESHOLD**: The best answer scored below the minimum specified score.\n   - **NO_ANSWER**: No suitably scored answer was found.\n- **answer_approval_id** - Approval ID of matching verified answer - valid UUID v4 string.\n- **score** - An approximation of the strength of the returned answer and answer_in_context chunk, or the float score returned from a model.\n- **level** - Configurable answer confidence levels to categorize outputs.\n- **content_id** - content_id of the knowledge domain content where the answer is located. A client application may use the content API to get more information about the content.\n- **content_display_name** - Display name of the source file that includes the best sentence answer.\n- **content_source_location** - URL of the source content where the answer and chunk are located.\n- **index** - Index into a custom data source.\n- **followup_choice** - Indicates a multiple-choice question is being returned to the user as a reply to their request.  Each of the choices will be an attachment with this value.\n- **related_questions** - Questions related to the input question. e.g. key: rq_best_<ix>, value: {content_type:application/vnd.pryon.related_questions, content: <string>}, where ix is the index from 1 onwards.\n- **related_questions_score** - Score of a Related Question, e.g. key: rq_score_best_<ix>, value: {content_type:application/vnd.pryon.related_questions_score, content: <string>}, where ix is the index from 1 onwards.\n- **followup_questions** - Followup Question to the input question. e.g. key: fq_best_<ix>, value: {content_type:application/vnd.pryon.followup_questions, content: <string>}, where ix is the index from 1 onwards.\n- **followup_questions_score** - Followup Question score. e.g. key: fq_score_best_<ix>, value: {content_type:application/vnd.pryon.followup_questions_score, content: <string>}.\n- **start_page** - Page number where the answer_in_context or the chunk starts in a PDF.\n- **start_page_bbox** - Bounding box of the entire page on which the answer is found.\n- **end_page** - Page number where the answer_in_context ends in a PDF.\n- **start_char_index** - Index of the first occurrence of the best_sentence or answer substring within the surrounding answer_in_context chunk.\n- **end_char_index** - Index of the last occurrence of the best_sentence or answer substring within the surrounding answer_in_context chunk.\n- **bbox** - Bounding box coordinates returned as a list of four floating point numbers representing the top-left and bottom-right corners of the box for the answer snippet on the source document image.\n- **flag** - Boolean flag with either true or false values.\n- **texttrack_cue** - relative time offset from the beginning of the video associated with the short answer. e.g. key: \"texttrack_cue\", value: {content_type: application/vnd.pryon.texttrack_cue, content: <HH:MM:SS>}.\n- **answer_html** - A marked up HTML version of the text_wordy/answer_in_context text. Available only for views that contain tables and originate from PDFs, and only using Delphi DM/RC (hs_dmrc_enabled=true).","type":"string"},"content":{"description":"The content of the additional information.","type":"string"}},"type":"object"},"filename_v1alpha1CollectionMetadata":{"properties":{"uuid":{"description":"Unique identifier for the interaction returned in the resource response; the response ID.","type":"string"},"response_time_millis":{"description":"Response time (in milliseconds).","format":"int64","type":"integer"}},"title":"Metadata that will be returned with each collection-level GET","type":"object"},"filename_v1alpha1Context":{"properties":{"augmentation":{"description":"Predefined additional information provided with the source of this output.","properties":{},"type":"object"}},"type":"object"},"filename_v1alpha1CreateExchangeRequest":{"description":"The top-level message sent by the client for the CreateExchange method.","properties":{"conversation_id":{"description":"Unique identifier for the conversation returned with the create retrieval response; leaving blank starts a new conversation on the request.","type":"string"},"input":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeInput"}},"type":"object"},"filename_v1alpha1CreateExchangeResponse":{"description":"The only top-level message returned to the client by the CreateExchange method.","properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeResponseData"},"user_id":{"title":"The identifier of the user that originally made the exchange","type":"string"},"knowledge_domain_id":{"title":"Unique identifier of the knowledge domain that supplied the exchange response.","type":"string"},"collection_id":{"description":"Parent collection for the knowledge domain; autogenerated and not editable.","type":"string"}},"type":"object"},"filename_v1alpha1CreateWsExchangeRequest":{"description":"The top-level message sent by the client for the CreateWsExchange (WebSocket) method.","properties":{"action":{"$ref":"#/components/schemas/filename_CreateWsExchangeRequestAction"},"exchange_request":{"$ref":"#/components/schemas/filename_v1alpha1CreateExchangeRequest"}},"type":"object"},"filename_v1alpha1CreateWsExchangeResponse":{"description":"The only top-level message returned to the client by the CreateWsExchange (WebSocket) method.","properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1WsExchangeResponseData"},"user_id":{"title":"The identifier of the user that originally made the exchange","type":"string"},"knowledge_domain_id":{"title":"Unique identifier of the knowledge domain that supplied the exchange response.","type":"string"},"collection_id":{"description":"Parent collection for the knowledge domain; autogenerated and not editable.","type":"string"}},"type":"object"},"filename_v1alpha1DataSourceMetadata":{"properties":{"display_field_name":{"description":"The data source metadata category, display_field_name.","type":"string"},"value":{"description":"The data source metadata value.","properties":{},"type":"object"},"data_type":{"$ref":"#/components/schemas/filename_v1alpha1DataType"}},"type":"object"},"filename_v1alpha1DataSourceMetadataFilter":{"properties":{"condition":{"description":"You can combine conditions with AND, OR operators.\n\nFor example,\n creation_date > 1730224506 AND title = 'RAG' AND ( view_count > 1000 OR  author = 'Zeus'))","title":"Filter conditions are written as strings.\nThe filter expression string is a simplified version of WHERE Clause condition in SQL.\nA single comparable condition is written as <type> <comparison operator> <value>\n- <type> is the data source metadata category, display_field_name you want to filter on.\n  If the type string contains non-alphanumeric characters, it must be surrounded by backquotes.\n- <comparison operator> is the comparison operator. Supported operators are =, >, <, >=, <=, !=\n- <value> is the value of the metadata for the filter","type":"string"}},"type":"object"},"filename_v1alpha1DataType":{"default":"DATATYPE_UNSPECIFIED","description":" - DATATYPE_UNSPECIFIED: Unspecified - indicates that data type is not set. This is not a valid option when creating a metadata field.\n - STRING: Free form text characters.\n - BOOLEAN: A boolean value (true or false).\n - INTEGER: Positive and negative whole numbers, but not decimals.\n - DECIMAL: Any number with decimal places.\n - DATETIME: Datetime string.\n - DATETIME_EPOCH: Datetime in epoch time format.","type":"string"},"filename_v1alpha1ExchangeAudioInput":{"properties":{"audio_encoding":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeAudioInputAudioEncoding"},"sample_rate_hertz":{"description":"Sample rate in Hertz of the audio data.\nThe only valid value currently supported is 16000, which must be explicitly stated by the client.","format":"int32","type":"integer"},"content":{"description":"The bytes of audio data.","format":"byte","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","type":"string"}},"type":"object"},"filename_v1alpha1ExchangeAudioInputAudioEncoding":{"default":"UNSPECIFIED_AUDIO_ENCODING","description":"- UNSPECIFIED_AUDIO_ENCODING: Encoding not specified and returns an ERROR response.\n - LINEAR16: Uncompressed 16-bit signed little-endian samples (Linear PCM).","title":"Audio encoding of the content in the message\nAudio must be one-channel (mono)","type":"string"},"filename_v1alpha1ExchangeAudioOutput":{"properties":{"audio_output_id":{"description":"Unique identifier for the entity creating the audio output resource.","type":"string"},"audio_encoding":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeAudioOutputAudioEncoding"},"sample_rate_hertz":{"description":"Sample rate in hertz of the audio data; only valid value is 16000, which must be explicitly stated by the client.","format":"int32","type":"integer"},"content":{"description":"The bytes of audio data encoded as specified in audio_encoding; as with all bytes fields, protobuffers use a pure binary representation, whereas JSON representations use base64.","format":"byte","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","type":"string"}},"type":"object"},"filename_v1alpha1ExchangeAudioOutputAudioEncoding":{"default":"UNSPECIFIED_AUDIO_ENCODING","description":"- UNSPECIFIED_AUDIO_ENCODING: UNSPECIFIED: Not specified.\n - LINEAR16: LINEAR16: Uncompressed 16-bit signed little-endian samples (Linear PCM).\n - MP3: MP3: MP3 audio encoding. The sample rate is encoded in the payload.","title":"Audio encoding of the content in the message","type":"string"},"filename_v1alpha1ExchangeInput":{"properties":{"option":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeInputOption"},"language_id":{"description":"Language tags; default is en-US.","type":"string"},"raw_text":{"description":"Input query to be used for retrieval.","type":"string"},"raw_audio":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeAudioInput"},"recommended_questions":{"$ref":"#/components/schemas/filename_ExchangeInputAdditionalQuestionRequest"}},"type":"object"},"filename_v1alpha1ExchangeInputFilter":{"properties":{"condition":{"description":"Filter conditions are written as strings.\n\nA single comparable condition is written as <type> <comparison operator> <value>\n- <type> is the subject category display name you want to filter on.\n  If the type string contains non-alphanumeric characters, it must be surrounded by backquotes.\n- <comparison operator> is the comparison operator. Only the “=” operator is supported.\n- <value> is the subject term for the filter\n\nYou can combine conditions with AND, OR operators.\n\nFor example,\n(Star = 'Harrison Ford' AND (Creator = 'George Lucas' OR Director = 'Steven Spielberg'))","type":"string"}},"type":"object"},"filename_v1alpha1ExchangeInputOption":{"properties":{"audio_output_enabled":{"description":"Returns audio output when set to True; if no audio output is generated, responses include only text output; default is false.","type":"boolean"},"knowledge_domain_id":{"description":"Unique identifier of the knowledge domain that supplied the exchange response.","type":"string"},"max_outputs":{"description":"Number of outputs to be returned; minimum is 3 (default), maximum is 10.","format":"int32","type":"integer"},"collection_id":{"description":"The collection, or index, that the exchange is performed against.","type":"string"},"max_sentence_outputs":{"description":"Number of answer snippets returned per chunk; default is 1 and the maximum is 10.","format":"int32","type":"integer"},"max_concise_outputs":{"description":"Number of concise spans to be returned per top-level output; default is 1 and the maximum is 10.","format":"int32","type":"integer"},"content_group_ids":{"description":"Unique identifier for the content group.","items":{"type":"string"},"type":"array"},"subject_ids":{"description":"Unique identifier of the subject used to return data.","items":{"type":"string"},"type":"array"},"filter":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeInputFilter"},"context":{"description":"Additional context for the exchange input; improves response ranking quality.","properties":{},"type":"object"},"data_source_metadata_filter":{"$ref":"#/components/schemas/filename_v1alpha1DataSourceMetadataFilter"},"metadata_filter":{"$ref":"#/components/schemas/filename_v1alpha1MetadataFilter"}},"type":"object"},"filename_v1alpha1ExchangeOutput":{"properties":{"output_id":{"description":"Unique identifier for the retrieval output; defaults to the first instance.","type":"string"},"text":{"description":"The answer snippet or reply displayed to the end-user.","type":"string"},"summary_text":{"description":"The exchange reply that is intended to be translated to speech and played as audio for the end-user. This is generally a shorter form equivalent to text that works better as a spoken reply.  If there is no shorter form summarization available, this will be empty, and text will be synthesized into speech.","type":"string"},"audio":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeAudioOutput"},"attachments":{"additionalProperties":{"$ref":"#/components/schemas/filename_v1alpha1Attachment"},"description":"The additional information containing the conversation response to the request query, keyed by a UUIDv4 string.","type":"object"},"subject_ids":{"description":"The subjects known to be associated with this output.","items":{"type":"string"},"type":"array"},"context":{"$ref":"#/components/schemas/filename_v1alpha1Context"},"data_source_metadata":{"additionalProperties":{"$ref":"#/components/schemas/filename_v1alpha1DataSourceMetadata"},"title":"{\n\"author\": {\n\"display_field_name\": \"Author\",\n\"value\": \"J. R. R. Tolkien\",\n\"data_type\": \"STRING\"\n},\n\"title\": {\n\"display_field_name\": \"Book Title\",\n\"value\": \"The Hobbit\",\n\"data_type\": \"STRING\"\n}\n}","type":"object"}},"type":"object"},"filename_v1alpha1ExchangeResponseData":{"properties":{"exchange_id":{"description":"Unique identifier of the exchange item.","type":"string"},"conversation_id":{"description":"Unique identifier for the conversation returned with the create retrieval response; leaving blank starts a new conversation on the request.","type":"string"},"normalized_input":{"$ref":"#/components/schemas/filename_v1alpha1NormalizedExchangeInput"},"output":{"description":"The Exchange result.","items":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeOutput"},"type":"array"}},"type":"object"},"filename_v1alpha1GetExchangeResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeResponseData"},"user_id":{"title":"The identifier of the user that originally made the exchange","type":"string"},"knowledge_domain_id":{"description":"Unique identifier of the knowledge domain that supplied the exchange response.","type":"string"},"collection_id":{"description":"Parent collection for the knowledge domain; autogenerated and not editable.","type":"string"}},"type":"object"},"filename_v1alpha1ListExchangesResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1CollectionMetadata"},"items":{"description":"The exchange data and associated reviews that meet the list filter criteria.","items":{"$ref":"#/components/schemas/filename_v1alpha1GetExchangeResponse"},"type":"array"},"next_page_token":{"description":"For multiple pages; must be specified in each request for two pages per sheet.","type":"string"},"page_size":{"description":"Same as page size in request.","format":"int32","type":"integer"},"order_by":{"description":"Same as order by in request.","type":"string"}},"type":"object"},"filename_v1alpha1MetadataFilter":{"properties":{"condition":{"description":"You can combine conditions with AND, OR operators.\n\nThere are several metadata field prefixes.\nsys: System Data Source Metadata (Pryon's default data source metadata)\nusel: User-Selected Data Source Metadata\nudef: User-Defined Metadata (User-Defined metadata based on prior knowledge of collection contents)\nFor example,\n sys.created_at > 1730086814 AND udef.title = ‘RAG' AND ( usel.view_count > 1000 OR  usel.author = 'Zeus'))","title":"Filter conditions are written as strings.\nThe filter expression string is a simplified version of WHERE Clause condition in SQL.\nA single comparable condition is written as <type> <comparison operator> <value>\n- <type> is the metadata category, db_field_name you want to filter on.\n  If the type string contains non-alphanumeric characters, it must be surrounded by backquotes.\n- <comparison operator> is the comparison operator. Supported operators are =, > ,< ,>=, <= , !=\n- <value> is the value of the metadata for the filter","type":"string"}},"type":"object"},"filename_v1alpha1NormalizedExchangeInput":{"properties":{"normalized_input_id":{"description":"UUID generated by the entity creating the normalized input resource.","type":"string"},"raw_text":{"description":"The original input query (raw_text).","type":"string"},"understood_text":{"description":"The normalized input query, that is, raw text, which creates the output.","type":"string"},"understood_subject_ids":{"description":"IDs of subjects found in the input that filter the outputs.","items":{"type":"string"},"type":"array"},"suggested_raw_texts":{"description":"Spelling corrections, if any, or other suggestions found for the input query (raw_text).","items":{"type":"string"},"type":"array"}},"type":"object"},"filename_v1alpha1ResourceMetadata":{"properties":{"uuid":{"description":"Unique identifier for the interaction returned in the resource response; the response ID.","type":"string"},"create_time":{"description":"Time of the initial request.","format":"date-time","type":"string"},"update_time":{"description":"Time of the last update; 0 indicates updates have never been made.","format":"date-time","type":"string"},"response_time_millis":{"format":"int64","description":"Response time (in milliseconds).","type":"integer"}},"type":"object"},"filename_v1alpha1WsExchangeResponseData":{"properties":{"state":{"$ref":"#/components/schemas/filename_WsExchangeResponseDataState"},"exchange":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeResponseData"},"error":{"$ref":"#/components/schemas/filename_rpcStatus"}},"type":"object"},"filename_ContentExtractPage":{"properties":{"text_boxes":{"items":{"$ref":"#/components/schemas/filename_PageTextBox"},"title":"List of TextBoxes on the page","type":"array"},"page_number":{"title":"Page number","type":"string"},"page_bbox":{"title":"Bounding box for the page","type":"string"},"anchor_char_offsets":{"items":{"$ref":"#/components/schemas/filename_PageAnchorCharOffset"},"title":"List of anchor character offsets","type":"array"}},"title":"Page level information","type":"object"},"filename_ContentExtractReadPermission":{"properties":{"allow_emails":{"description":"A list of emails that have read permission for the content.","items":{"type":"string"},"type":"array"},"allow_group_ids":{"description":"A list of group ids that have read permission for the content. This will\nbe different for each remote API. It does not need to follow any preset\npattern, but should be consistent across the particular remote API.","items":{"type":"string"},"type":"array"},"deny_emails":{"description":"A list of emails that do not have read permission for the content.","items":{"type":"string"},"type":"array"},"deny_group_ids":{"description":"A list of group ids that have read permission for the content. This will\n // be different for each remote API. It does not need to follow any preset\n // pattern, but should be consistent across the particular remote API.","items":{"type":"string"},"type":"array"},"any_required_group_ids":{"description":"A list of group ids where a user needs to a part of AT LEAST ONE of them in order to access the content.\nEven if a user exists in one of these groups, 'read' permission could still be restricted.","items":{"type":"string"},"type":"array"},"all_required_group_ids":{"description":"A list group ids where a user needs to be a part of ALL of them in order to access the object.\nEven if a user exists in all of these groups, 'read' permission could still be restricted.","items":{"type":"string"},"type":"array"},"is_public":{"description":"A flag to indicate if the content is public.","type":"boolean"},"unrestricted_emails":{"description":"A list of emails that always have read permission for the content.","items":{"type":"string"},"type":"array"}},"title":"Permission properties","type":"object"},"filename_PageAnchorCharOffset":{"description":"The location of a hyperlink's anchor text within the display_text.\nOnly avaliable if the content is a HTML.","properties":{"end":{"format":"int64","title":"End offset","type":"integer"},"start":{"format":"int64","title":"Start offset","type":"integer"},"text":{"title":"Text at the offset","type":"string"},"uri":{"title":"URI at the offset","type":"string"}},"type":"object"},"filename_PageTextBox":{"properties":{"bbox":{"title":"Bounding box coordinates of the TextBox\nA string of four floating point numbers representing the top-left and bottom-right corners of the box separated by commas.\nThe coordinates are in the format: x1,y1,x2,y2.","type":"string"},"text":{"title":"Text within the bounding box","type":"string"},"textlines":{"items":{"$ref":"#/components/schemas/filename_TextBoxTextLine"},"title":"List of text lines within the TextBox","type":"array"},"textline_start_index":{"title":"Start index for the text line","type":"string"},"vision_class":{"title":"Vision class of the TextBox","type":"string"},"timestamps":{"items":{"$ref":"#/components/schemas/filename_PageTextBoxTimestamp"},"title":"List of timestamps\nOnly available if the content is a video transcript","type":"array"}},"title":"TextBox level information","type":"object"},"filename_PageTextBoxTimestamp":{"properties":{"time":{"title":"Time of the timestamp\nThe format of the time is HH:MM:SS.","type":"string"},"start_char_index":{"format":"int64","title":"Start character index for the timestamp relative to the TextBox's text","type":"integer"}},"title":"Timestamps information","type":"object"},"filename_TextBoxTextLine":{"properties":{"textline_bbox":{"title":"Bounding box for the text line\nThe coordinates of the text line in the format: x1,y1,x2,y2.","type":"string"},"textline_text_bbox":{"title":"The coordinates of the text line in the format: char1_x1,char1_x2,char2_x1,char2_x2,...","type":"string"},"textline_text":{"title":"Text within the text line","type":"string"}},"title":"Text line level information","type":"object"},"filename_googlerpcStatus":{"properties":{"code":{"format":"int32","type":"integer"},"message":{"type":"string"},"details":{"items":{"$ref":"#/components/schemas/filename_protobufAny"},"type":"array"}},"type":"object"},"filename_v1alpha1Content":{"properties":{"content_id":{"title":"Unique identifier for the content within the matching content groups.","type":"string"},"content_type_id":{"title":"Required: ID of the ContentType for this Content","type":"string"},"source_location":{"title":"String describing the location, typically a URI","type":"string"},"display_name":{"title":"Name of the collection.","type":"string"},"description":{"title":"Description of the content group.","type":"string"},"status":{"$ref":"#/components/schemas/filename_v1alpha1ContentStatus"},"source_owner":{"title":"Unique identifier for the owner of the source content owner.","type":"string"},"revision":{"description":"Specific revision being referenced; if not specified, the latest revision at the time of ingestion is used.","type":"string"},"status_reason":{"description":"Reason the content transitioned to current status value; only relevant for INGESTION_FAILED.","type":"string"},"labels":{"additionalProperties":{"type":"string"},"description":"Content key/value pair labels that identify characteristics of the content.","type":"object"}},"type":"object"},"filename_v1alpha1ContentExtract":{"properties":{"text":{"title":"The text extracted from the content","type":"string"},"textbox_text_separator":{"title":"Separator used to concatenate text from multiple text boxes.","type":"string"},"pages":{"items":{"$ref":"#/components/schemas/filename_ContentExtractPage"},"title":"List of pages in the content.","type":"array"},"display_text":{"title":"Display view of the content.","type":"string"},"read_permission":{"$ref":"#/components/schemas/filename_ContentExtractReadPermission"},"tags":{"items":{"type":"string"},"title":"List of tags associated with the content.","type":"array"},"extract_index":{"format":"int64","title":"Index of the Content Extract. Index starts at 0","type":"integer"},"data_source_metadata":{"additionalProperties":{"$ref":"#/components/schemas/filename_v1alpha1DataSourceMetadata"},"title":"{\n\"author\": {\n\"display_field_name\": \"Author\",\n\"value\": \"J. R. R. Tolkien\",\n\"data_type\": \"STRING\"\n},\n\"title\": {\n\"display_field_name\": \"Book Title\",\n\"value\": \"The Hobbit\",\n\"data_type\": \"STRING\"\n}\n}","type":"object"}},"type":"object"},"filename_v1alpha1ContentGroup":{"properties":{"content_group_id":{"description":"Unique identifier for the content group.","type":"string"},"display_name":{"description":"Name of the collection.","type":"string"},"description":{"title":"Description of the content group.","type":"string"},"source_location":{"description":"Unique identifier for the source location of the content group.","type":"string"},"content_statuses":{"description":"Content status for each item in the content group; index corresponds to the number of contents in each content group with that status.","items":{"format":"int32","type":"integer"},"type":"array"},"service_id":{"description":"Third-party service connect; if not specified, the oldest service connect with an authority and type matching the source location is assigned.","type":"string"}},"title":"A parent collection of Contents","type":"object"},"filename_v1alpha1ContentGroupContent":{"properties":{"content_id":{"description":"Unique identifier for the content within the matching content groups.","type":"string"},"content_group_id":{"description":"Unique identifier for the content group.","type":"string"}},"title":"Joins Content to a Content Group","type":"object"},"filename_v1alpha1ContentGroupContentRequest":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1ContentGroupContent"}},"type":"object"},"filename_v1alpha1ContentStatus":{"default":"UNKNOWN","description":"The Content status will only be updated by the server.\n\n - CONFIGURED: Initial status; content is configured. \n - UNSUPPORTED: Unsupported content found during the listing phase; cannot be ingested.\n - INGESTING: Content is currently being ingested. \n - INGESTED: Ingestion successful; content cannot be transitioned from this state.\n - INGESTION_FAILED: Ingestion failed; retry the ingestion process.","type":"string"},"filename_v1alpha1CreateContentGroupRequest":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1ContentGroup"}},"type":"object"},"filename_v1alpha1CreateContentRequest":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1Content"}},"type":"object"},"filename_v1alpha1GetContentGroupContentResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1ContentGroupContent"}},"type":"object"},"filename_v1alpha1GetContentGroupResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1ContentGroup"}},"type":"object"},"filename_v1alpha1GetContentMetadataResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data_source_metadata":{"properties":{},"title":"The Raw Data Source Metadata for the Content","type":"object"}},"type":"object"},"filename_v1alpha1GetContentResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1Content"}},"type":"object"},"filename_v1alpha1GetSubjectResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1SubjectEntity"}},"type":"object"},"filename_v1alpha1GetSummaryResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1SummaryItem"}},"type":"object"},"filename_v1alpha1ListContentGroupContentItem":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1ContentGroupContent"},"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"}},"type":"object"},"filename_v1alpha1ListContentGroupContentsResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1CollectionMetadata"},"items":{"items":{"$ref":"#/components/schemas/filename_v1alpha1ListContentGroupContentItem"},"title":"Map of all ContentGroup Content joins that match the request, keyed off of content_id","type":"array"},"next_page_token":{"title":"For multiple pages; must be specified in each request for two pages per sheet.","type":"string"},"total_size":{"format":"int32","title":"Total number of items in the collection across all pages.","type":"integer"},"page_size":{"description":"Same as page size in request.","format":"int32","type":"integer"}},"type":"object"},"filename_v1alpha1ListContentGroupItem":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1ContentGroup"},"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"}},"type":"object"},"filename_v1alpha1ListContentGroupsResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1CollectionMetadata"},"items":{"additionalProperties":{"$ref":"#/components/schemas/filename_v1alpha1ListContentGroupItem"},"description":"Map of content groups that match the request; keyed by content group ID.","type":"object"}},"type":"object"},"filename_v1alpha1ListContentItem":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1Content"},"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"}},"type":"object"},"filename_v1alpha1ListContentsResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1CollectionMetadata"},"items":{"items":{"$ref":"#/components/schemas/filename_v1alpha1ListContentItem"},"title":"Array of Contents that match the request","type":"array"},"next_page_token":{"title":"For multiple pages; must be specified in each request for two pages per sheet.","type":"string"},"page_size":{"description":"Same as page size in request.","format":"int32","type":"integer"}},"type":"object"},"filename_v1alpha1ListProcessedContentExtractsItem":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1ContentExtract"}},"type":"object"},"filename_v1alpha1ListProcessedContentExtractsResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1CollectionMetadata"},"items":{"items":{"$ref":"#/components/schemas/filename_v1alpha1ListProcessedContentExtractsItem"},"title":"Array of process extracts matching the request.","type":"array"},"next_page_token":{"title":"For multiple pages; must be specified in each request for two pages per sheet.","type":"string"},"page_size":{"description":"Same as page size in request.","format":"int32","type":"integer"}},"type":"object"},"filename_v1alpha1ListRetrievalContentExtractsItem":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1ContentExtract"}},"type":"object"},"filename_v1alpha1ListRetrievalContentExtractsResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1CollectionMetadata"},"items":{"items":{"$ref":"#/components/schemas/filename_v1alpha1ListRetrievalContentExtractsItem"},"title":"Array of retrieval extracts matching the request.","type":"array"},"next_page_token":{"title":"For multiple pages; must be specified in each request for two pages per sheet.","type":"string"},"page_size":{"description":"Sme as page size in request.","format":"int32","type":"integer"}},"type":"object"},"filename_v1alpha1ListSubjectsResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1CollectionMetadata"},"items":{"description":"Subjects matching request criteria.","items":{"$ref":"#/components/schemas/filename_v1alpha1GetSubjectResponse"},"type":"array"},"next_page_token":{"title":"For multiple pages; must be specified in each request for two pages per sheet.","type":"string"},"page_size":{"description":"Same as page size in request.","format":"int32","type":"integer"},"order_by":{"description":"Same as order by in request.","type":"string"}},"type":"object"},"filename_v1alpha1SubjectEntity":{"properties":{"subject_id":{"title":"hash of subject_category_id and term","type":"string"},"term":{"description":"Natural language term that represents the subject; case-sensitive.","type":"string"},"subject_category_id":{"title":"Subject category","type":"string"},"definition":{"description":"Natural language definition of the subject.","type":"string"},"reference_count":{"format":"uint64","title":"!Deprecation Warning!: This field will no longer be kept up to date and must be considered inaccurate. To view subject reference counts \nplease see ListDomainSubjects.\nOptional.  Number of references to the subject found in the content.  This is provided if known and will otherwise be zero.\nReference count at different levels:\nContent - occurrences in content (0 for Prior Knowledge content subjects)\nContent Group - occurrences in all contents in CG\nKnowledge Domain - occurrences in all contents in KD","type":"string"},"content_count":{"format":"uint64","title":"Number of contents that refer to the subject.","type":"string"}},"title":"A subject is an unique tuple of term and category","type":"object"},"filename_v1alpha1SummaryItem":{"properties":{"text":{"type":"string"},"html":{"type":"string"}},"type":"object"},"filename_ApprovalItemApprovalStatus":{"default":"UNSPECIFIED","title":"- PENDING_REVIEW: PENDING_REVIEW: This approval item is pending review\n - REJECTED: REJECTED: This approval item has been rejected\n - APPROVED: APPROVED: This approval item has been approved","type":"string"},"filename_v1alpha1ApprovalItem":{"properties":{"approval_status":{"$ref":"#/components/schemas/filename_ApprovalItemApprovalStatus"},"approval_id":{"description":"Unique identifier of approval item.","type":"string"},"conv_review_id":{"description":"Unique identifier for the conversation review of the approved exchange output.","type":"string"},"exchange_id":{"description":"Unique identifier of the exchange item that contains the approved review.","type":"string"},"knowledge_domain_id":{"description":"Unique identifier of the knowledge domain that includes the approved review.","type":"string"},"kd_succession_id":{"title":"Unique identifier of the parent knowledge domain that includes the approved review; if not passed, this is set to the knowledge domain ID.","type":"string"},"input_understood_text":{"description":"Normalized input text of exchange question.","type":"string"},"output_text":{"description":"Answer output text displayed to the user.","type":"string"},"approver_id":{"readOnly":true,"title":"Unique identifier for the administrator who approved the review.","type":"string"},"uri":{"description":"Link to additional information.","type":"string"},"uri_display_name":{"description":"Display name for link to additional information.","type":"string"},"contact_info":{"$ref":"#/components/schemas/filename_v1alpha1ContactInfo"},"attachments":{"additionalProperties":{"$ref":"#/components/schemas/filename_v1alpha1Attachment"},"description":"Attachments from the associated exchange output.","type":"object"}},"type":"object"},"filename_v1alpha1ContactInfo":{"properties":{"contact_name":{"description":"Name of the contact person.","type":"string"},"contact_email":{"description":"Email of the contact person.","type":"string"}},"type":"object"},"filename_v1alpha1CreateApprovalRequest":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1ApprovalItem"}},"type":"object"},"filename_v1alpha1CreateApprovalResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1ApprovalItem"}},"type":"object"},"filename_v1alpha1CreateExchangeRatingRequest":{"properties":{"data":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeRating"}},"type":"object"},"filename_v1alpha1ExchangeRating":{"properties":{"rating_id":{"description":"Unique identifier for the exchange rating; automatically generated.","type":"string"},"exchange_id":{"description":"Unique identifier of the exchange item; only for exchanges matching active domains.","type":"string"},"output_id":{"description":"Unique identifier for the output related to the feedback; relevant to n-best exchange responses; defaults to best_1.","type":"string"},"creator_id":{"description":"Output field only, automatically populated. User ID (e.g. email address) that provided this feedback.","type":"string"},"question":{"description":"Output field only, automatically populated. The question that was recorded for the exchange that is being rated.","type":"string"},"rank":{"description":"The rank value given by the user. Range from 1 to 5 with 5 being the most positive rating.","format":"int32","type":"integer"},"message":{"description":"User comment that provides additional context on the rating; for example, a rating of 5 meansThe answer was on topic and helpful.","type":"string"},"freeform_text":{"description":"Freeform text for feedback provider.","type":"string"}},"type":"object"},"filename_v1alpha1ExchangeRatingReview":{"properties":{"rating":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeRating"},"collection_id":{"description":"Parent collection for the knowledge domain; autogenerated and not editable.","type":"string"},"knowledge_domain_id":{"description":"Unique identifier of the knowledge domain that contains the exchange being rated.","type":"string"},"reviewer_ids":{"description":"Output field only, automatically populated. IDs of the reviewing authorities that viewed/inspected this item.","items":{"type":"string"},"type":"array"},"flagged":{"description":"Reviewing authorities can flag this rating item upon inspection. The exact meaning of flagging is intentionally vague and is left to the API to use as necessary.","type":"boolean"},"approval_id":{"description":"Output field only, automatically populated. The approval item related to this exchange rating. May be empty.","type":"string"},"status":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeRatingReviewStatus"}},"title":"Authority perspective of an Exchange Rating","type":"object"},"filename_v1alpha1ExchangeRatingReviewStatus":{"default":"UNSPECIFIED","description":" - UNSPECIFIED: Not a valid exchange rating value\n - PENDING: This exchange rating is waiting to be inspected for approval or rejection (default).\n - COMPLETE: This exchange rating has been inspected and acted upon. No further action will be taken.","type":"string"},"filename_v1alpha1GetApprovalResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1ApprovalItem"}},"type":"object"},"filename_v1alpha1GetExchangeRatingResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeRating"}},"type":"object"},"filename_v1alpha1GetExchangeRatingReviewResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1ExchangeRatingReview"}},"type":"object"},"filename_v1alpha1ListApprovalItem":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1ResourceMetadata"},"data":{"$ref":"#/components/schemas/filename_v1alpha1ApprovalItem"}},"type":"object"},"filename_v1alpha1ListApprovalsResponse":{"properties":{"metadata":{"$ref":"#/components/schemas/filename_v1alpha1CollectionMetadata"},"items":{"description":"Approval Items meeting the list filter/ordering criteria.","items":{"$ref":"#/components/schemas/filename_v1alpha1ListApprovalItem"},"type":"array"},"next_page_token":{"description":"For multiple pages; must be specified in each request for two pages per sheet.","type":"string"},"total_size":{"description":"Total number of items in the collection across all pages.","format":"int32","type":"integer"},"page_size":{"description":"Same as page size in request.","format":"int32","type":"integer"},"order_by":{"description":"Same as order b
[...]
